<section
  class="speech"
  style="--image-url: url('../../../assets/img/constituition.png');"
>
  <h1
    class="mat-display-1"
    style="text-align: center; padding-top: 2rem; color: #bfcf25;"
  >
    CHAIRMAN'S INAUGURAL SPEECH
  </h1>
  <!-- <div class="history-container"> -->
  <mat-card class="example-card">
    <!-- <img
            mat-card-image
            src="assets/img/honorary/elder_ameh.jpg"
            alt="Photo of a Shiba Inu"
          /> -->
    <div mat-card-image class="img-box"></div>
    <mat-divider></mat-divider>
    <mat-card-content>
      <br />
      <div>
        <h3>
          ACCEPTANCE SPEECH BY ADEGOKE ADEWALE, ESQ., ACIAbr ‐ CHAIRMAN‐ELECT,
          NBA OTA BRANCH. JUNE 28, 2022
        </h3>
        <p>
          Distinguished Senior Advocates of Nigeria,
          <strong>O.O. OJUTALAYO, SAN & O.T. AKINBIYI, SAN</strong>
          , Elders of our Great Branch, Learned Seniors, and Honourable
          Colleagues, permit me to express my profound gratitude to God Almighty
          for this peaceful election.
        </p>

        <p>
          My special thanks goes to the Almighty God and His Servant,
          <strong>BISHOP DAVID OYEDEPO</strong>
          for year 2022 ‘More than Conqueror’s Grace’ that has greatly impacted
          many lives including mine immensely.
        </p>

        <p>
          I thank every eligible voter who took time out of their busy schedule
          to vote at the NBA Ota Branch election of today, June 28, 2022
        </p>

        <p>
          Your determination and keen interest leading to your qualification to
          vote and your actual exercise of your voting obligation today is
          highly commendable. Words are not enough to convey my deep
          appreciation for the honour done to me and my team by this election. I
          cannot thank you enough.
        </p>

        <p>
          I also appreciate all members of the Branch for the support, words of
          encouragement, and congratulatory messages in respect of this
          election.
        </p>

        <p>
          Kudos to all elected members of the Executive Committee. As opined by
          my Chairman,
          <strong>J.T. OGUNNIYI</strong>
          in July, 2020,
          <strong>‘this is a joint ticket’</strong>
          . I look forward to a robust working relationship with you towards
          delivering maximally on our campaign promises. As you are aware, it is
          sacrosanct that we must deliver on the social contract we have with
          our members.
        </p>

        <p>
          Once again, I indeed appreciate and celebrate all the outgoing
          Executive members, especially my Leader and Mentor, the Chairman, MR.
          <strong>J.T. OGUNNIYI</strong>
          for keeping the Branch together these past two years. I must also
          appreciate my brother,
          <strong>LEKAN DARAMOLA ESQ</strong>
          for his contributions.
        </p>

        <p>
          I have learnt humility, love and maturity from the actions and unsaid
          words of our
          <strong>NOBLE CHAIRMAN - MR. J.T. OGUNNIYI</strong>
          , who has tremendously built monumental legacies after the
          revolutionary legacies of our Chairman Emeritus,
          <strong>ISAAC OMUTA OGBAH</strong>
          . We wish each and every outgoing Executive member the best in their
          future endeavours. We will surely consolidate on the legacies of our
          heroes and past administrations in taking the
          <strong>‘UTTER BAR’</strong>
          to the next levels of achievements with God on our side.
        </p>

        <p>
          I specially commend Learned Seniors,
          <strong>
            S.A. AMEH, OTUNBA OLUMIDE AKINBINU, ALHAJI T.G. ADEOSUN, AKIN
            FOLARIN ESQ and ALHAJI ALLI DAOUDU
          </strong>
          . for their sagacious words of encouragement. I also commend our
          Chairman Emeritus,
          <strong>ISAAC OMUTA OGBAH ESQ</strong>
          . for his profound support. In addition, I commend our Emeritus
          Secretary,
          <strong>O.A. PIUS ESQ</strong>
          . for his lavish positive influences.
        </p>

        <p>
          I commend all bar leaders particularly
          <strong>
            CHIEF IBUKUN OREMODU, IPADE AWOWOLO ESQ., MONZOR OWOYEMI ESQ., AKIN
            SANNI ESQ.
          </strong>
          and
          <strong>ABRAHAM ADEOYE ESQ.</strong>
          for their supports. I cannot repay the debt of gratitude I owe you
          all.
        </p>

        <p>
          I once again thank everyone who contributed in one way or the other to
          the success we are celebrating today. I must appreciate my Associate
          in Chamber,
          <strong>OGORI NNENNA [MRS.]</strong>
          for holding forte in my absence. I also remember my Sister,
          <strong>CHIEF AJOSE KELUBIA</strong>
          for her solidarity. Worthy of mention are members of the Human
          Rights/Probono Committee who provided the fulcrum for the success of
          today. It is my prayer that God Almighty will reward everyone a
          zillion fold.
        </p>

        <p>
          I must commend members of the Branch Electoral Committee for a job
          well done despite daunting challenges. I commend the Chairperson,
          <strong>
            R.E. ITUA [MRS.], KAREEM KELANI ESQ., ODUNFA ADEDAPO ESQ. & MISS.
            ADENIKE ADELEKE
          </strong>
          for their wisdom and dexterity in delivering the election without
          strife in our Branch.
        </p>

        <p>
          Let me seize this opportunity to state that this Branch belongs to all
          of us. The welfare of members is of paramount importance to us and we
          shall deliver on this covenant. Our
          <strong>ISAAC OMUTA OGBAH</strong>
          candidature for the post of 3rd Vice President, NBA National is a
          Branch project. I urge us all to drum up support for him at all fora.
          We pledge to do all within our powers as Executives Elect to deliver
          him come the 16th of July, 2022. May God help us all. Amen!
        </p>

        <p>
          We expect everyone of us to contribute his/her quota to the growth and
          development of the Branch by participating in different committees and
          programmes of the Branch towards raising the luster of our Branch in
          the comity of NBA branches and repositioning our Branch as the Branch
          to beat as we take steps to usher in greater impacts for our members
          and the Branch.
        </p>

        <p>
          On our part, we promise to uphold the Nigerian Bar Association
          Constitution, enabling Bye-laws and implement programmes that will
          bring massive developmental impacts to the affairs of the Branch.
        </p>

        <p>
          For the records our Vision is to build a ‘Greater Utter Bar’ [GUT] and
          doing this we shall focus on the following objectives among others:
        </p>

        <ol>
          <li>
            Completion and furnishing of the Bar Centre
          </li>
          <li>
            Setting up an affordable Lawyer’s Estate
          </li>
          <li>
            Acquisition of the Utter Bar Bus to consolidate on our Brand
            identity;
          </li>
          <li>
            Setting up an e-voting platform for the next elections for
            flexibility and ease of voting;
          </li>
          <li>
            To bring in corporate sponsorship towards broadening our branch
            income base;
          </li>
          <li>
            Setting up framework for lawyers and principals to key into the
            Contributory Pension Scheme; and
          </li>
          <li>
            Ensuring continuity of our annual law week with colour and panache.
          </li>
        </ol>

        <p>
          We will also leverage on the excellent work by the outgoing
          administration and continue to do the followings:
        </p>

        <ol type="A">
          <li>
            Ensure that the Unity of the Utter Bar is maintained at all
            Times;
          </li>
          <li>
           Ensure the Elders are galvanized to attend meetings;
          </li>
          <li>
            Strive to substantially increase the membership strength of the
            Branch by encouraging more lawyers to join the Branch;
          </li>
          <li>
            Ensure the welfare of members of the Utter Bar by continuing the
            Insurance Scheme of the Branch and possibly renegotiate terms that
            would be more favorable to members;
          </li>
          <li>
           Strive to ensure that members attendance to Monthly meetings are
            on steady increase;
          </li>
          <li>
            Also ensure that Continuing Legal Education through periodic
            lectures becomes a yearly affair;
          </li>
          <li>
            Strengthening the bond between the Bar and the Bench through the
            Bar and Bench Forum.
          </li>
        </ol>

        <p>God bless us all.</p>
        <p><strong>Long live NBA Ota Branch!</strong></p>
        <p><strong>Long live Nigerian Bar Association!</strong></p>
        <p><strong>Long live the Federal Republic of Nigeria!</strong></p>
        <p>
          <em>Dated Tuesday, the 28th day of June, 2022.</em>
        </p>
        <h4>
          ADEGOKE, A.O. ESQ. ACIAbr
          <em>(Incumbent Chairmain, NBA, OTA)</em>
        </h4>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>
  <!-- </div> -->
</section>
