<section id="about" class="mat-typography about2">
  <div class="container">
    <!-- <div
      class="about-section about-heading"
      fxLayout="column"
      fxLayoutAlign="center center"
    >
      <div>
        <h2 [ngStyle.lt-md]="{ 'margin-bottom': '15px' }">About</h2>
      </div>
      <div>
        <h3
          [ngStyle.xs]="{ 'font-size': '18px' }"
          [ngStyle.sm]="{ 'font-size': '22px' }"
        >
          Lorem ipsum dolor sit amet conse ctetur adipi sicing elit. Doloribus
          numquam quis.
        </h3>
      </div>
    </div> -->

    <mat-card
      class="card"
      fxLayout="row"
      fxLayout.lt-md="column"
      fxLayoutWrap="nowrap"
      fxLayoutGap="30px"
      style="--image-url: url('../../../assets/img/footer/footer6.jpg');"
    >
      <div fxFlex="50">
        <div
          fxLayout="column"
          fxLayoutAlign="center center"
          [ngStyle.xs]="{ padding: '0 60px' }"
        >
          <div>
            <i [ngStyle.lt-md]="{ 'font-size': '48px' }" class="material-icons"
              >visibility</i
            >
          </div>
          <span fxFlex="30px"></span>
          <h2 class="about-text header">Vision Statement</h2>
          <span fxFlex="10px"></span>
          <p class="about-text">
            To be the Model Bar Association worthy of emulation
          </p>
        </div>
      </div>

      <div fxFlex="50">
        <div
          fxLayout="column"
          fxLayoutAlign="center center"
          [ngStyle.lt-md]="{ padding: '0 60px' }"
        >
          <div>
            <i [ngStyle.lt-md]="{ 'font-size': '48px' }" class="material-icons"
              >public</i
            >
          </div>
          <span fxFlex="30px"></span>
          <h2 class="about-text header">Mission Statement</h2>
          <span fxFlex="10px"></span>
          <p class="about-text">
            To use the instrumentality of law to foster social justice and
            economic growth thereby promoting societal development
          </p>
        </div>
      </div>

      <!-- <div fxFlex="25">
        <div
          fxLayout="column"
          fxLayoutAlign="center center"
          [ngStyle.xs]="{ padding: '0 60px' }"
        >
          <div>
            <i [ngStyle.lt-md]="{ 'font-size': '48px' }" class="material-icons"
              >stars</i
            >
          </div>
          <span fxFlex="30px"></span>
          <h2 class="about-text">Motto</h2>
          <span fxFlex="10px"></span>

          <p class="about-text">
            Integrity, Excellence, Courage, Professionalism
          </p>
        </div>
      </div>

      <div fxFlex="25">
        <div
          fxLayout="column"
          fxLayoutAlign="center center"
          [ngStyle.xs]="{ padding: '0 60px' }"
        >
          <div>
            <i [ngStyle.lt-md]="{ 'font-size': '48px' }" class="material-icons"
              >whatshot</i
            >
          </div>
          <span fxFlex="30px"></span>
          <h2 class="about-text">Motto</h2>
          <span fxFlex="10px"></span>

          <p class="about-text">
            Integrity, Excellence, Courage, Professionalism
          </p>
        </div>
      </div> -->
    </mat-card>
  </div>
</section>
