<section>
  <div class="sc-container">
    <div class="sc-items1">
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title
            >HON. JUSTICE SOLOMON ABIDOYE OLUGBEMI, JP (RTD)
          </mat-card-title>
          <mat-card-subtitle>Fmr. Judge, Ogun State </mat-card-subtitle>
        </mat-card-header>
        <mat-divider></mat-divider>
        <!-- <img
            mat-card-image
            src="assets/img/honorary/elder_ameh.jpg"
            alt="Photo of a Shiba Inu"
          /> -->
        <div mat-card-image class="img-box"></div>
        <mat-divider></mat-divider>
        <mat-card-content>
          <br />
          <div>
            <h3>Abridged Profile</h3>
            <p>
              <b>Honourable Justice Solomon Abidoye Olugbemi (Rtd)</b> hails from
              Abeokuta, Ogun State of Nigeria. He attended Ogbomoso Grammar
              School, Ogbomoso, Oyo State; Yaba College of Technology, Yaba,
              Lagos; University of Lagos, Akoka, Lagos; Nigerian Law School,
              Victoria Island, Lagos; Lagos State University, Ojo, Lagos; and
              the Nigerian Baptist Theological Seminary, Ogbomoso, Nigeria.
            </p>
            <p>
              <b>Hon. Justice Olugbemi</b> has a Diploma in Secretarial Studies,
              Bachelor of Laws, Master of Laws (Maritime and Commercial Law) and
              Master of Divinity. He was called to the Nigerian Bar in July
              1983. He served in the National Youth Service Corps in 1983/1984.
              He was made a Notary Public for Nigeria in February 1990.
            </p>
            <p>
              <b> Honourable Justice Olugbemi</b> practised as a private Legal
              Practitioner in Nigeria for twenty five years. He is a former
              Chairman of the Nigerian Bar Association, Ota Branch. He was
              appointed a Judge of the Ogun State High Court in July 2008 and he
              retired on 2nd April 2020.
            </p>
            <p>
              <b>Hon. Justice Olugbemi</b> is a Fellow of the Institute of
              Chartered Mediators and Conciliators, a Member of the Dispute
              Resolution International and an Associate of the Chartered
              Institute of Arbitrators (UK). He is a Minister of the Gospel of
              Christ. He is now engaged in Mediation, Arbitration, Legal
              Consultancy and Publishing. He has published many legal and
              Christian articles, tracts and a book namely:
            </p>
            <ul>
              <li>
                Res Ipsa Loquitor or Confusion in the Proof of Negligence? (The
                Lawyer, University of Lagos, 1982)
              </li>
              <li>
                Workplace Ambassadors, a lecture delivered at the First Quarter
                Fellowship of the Goodnews Baptist Association, Lagos held at
                the Wisdom Assembly, Idimu, Lagos on 3rd of March, 2018.
              </li>
              <li>
                Order of Certiorari: Its Use and Limitations, published in
                “Essays in Honour of Honourable Justice Olatokunbo O. Olopade,
                CON, KJW (Ogun State Bar and Bench Forum, Abeokuta, July, 2018).
              </li>
              <li>
                The Church, the State and the Rule of Law, paper delivered at
                the Annual Retreat of the Ogun State Baptist Pastors Fellowship
                on 7th November 2018.
              </li>
              <li>
                Tracts – ‘First Things First’ and ‘Escape for Your Life!’
              </li>
              <li>
                Driving a Positive Change, A Leadership Role Within a Community,
                a paper delivered at “A Night-out with Oluomo, a forum of Apomu
                Community, Ogun State on 23rd November 2018.
              </li>
              <li>
                Book: Sweet Memories on the Bench, Vol. 1, 2nd April 2020.
              </li>
            </ul>
            <p>
              <b>Hon. Justice Olugbemi</b> has travelled to most geo-political
              zones of Nigeria. He has also travelled to some parts of the world
              including Kenya, United States of America, the United Kingdom, the
              UAE and Israel. He speaks English and Yoruba fluently and Hausa
              and Igbo to some extent.
            </p>
            <p>
              Hon. Justice Olugbemi is married with children and grandchildren
              and he now lives in Abeokuta, Ogun State, Nigeria.
            </p>
          </div>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>
    </div>
    <div class="sc-items2">
      <mat-card class="example2-card">
        <div class="info">
          <h5 class="info-head">YEARS @ THE BAR</h5>
          <h5 class="info-subhead">37</h5>
        </div>
        <mat-divider></mat-divider>
        <div class="info">
          <h5 class="info-head">CURRENT ROLE</h5>
          <h5 class="info-subhead">Olugbemi & Co.</h5>
        </div>
        <mat-divider></mat-divider>
        <div class="info">
          <h5 class="info-head">AREA OF SPECIALIZATION</h5>
          <h5 class="info-subhead">NA</h5>
        </div>
        <mat-divider></mat-divider>
        <div class="info">
          <h5 class="info-head">PERSONAL/OFFICIAL LINKS</h5>
          <h5 class="info-subhead">Website</h5>
        </div>
      </mat-card>
    </div>
  </div>
</section>
