<section
  class="branch-officers"
  style="--image-url: url('../../../assets/img/lawb.jpeg');"
>
  <h1
    class="mat-display-1"
    style="text-align: center; padding-top: 2rem; color: #bfcf25;"
  >
    MEET OUR AMAZING TEAM
  </h1>

  <div class="container">
    
    <!-- Chairman -->
    <div class="main-box">
      <div class="team-content1 team-content">
        <!-- <img src="../../assets/img/nbalogoc.png" alt="Avatar" class="image" /> -->
        <div class="content-box">
          <h2>
            Adegoke Adewale, ACIArb, AICMC
          </h2>
          <p>
            Chairman
          </p>
        </div>

        <div class="overlay">
          <div class="text">
            <div class="info">
              <h5 class="info-head">Year Of Call</h5>
              <p class="info-subhead">2000</p>
            </div>
            <mat-divider></mat-divider>
            <div class="info">
              <h5 class="info-head">Current Role</h5>
              <p class="info-subhead">
                Managing Partner @ First Zenith Law Firm
              </p>
            </div>
            <mat-divider></mat-divider>
            <div class="info">
              <h5 class="info-head">Specialization</h5>
              <p class="info-subhead">Corporate/Commercial Law</p>
            </div>
            <mat-divider></mat-divider>
            <div class="info">
              <h5 class="info-head">Personal Contact</h5>
              <p class="info-subhead">08033604432</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Vice Chairman -->
    <div class="main-box">
      <div class="team-content2 team-content">
        <!-- <img src="../../assets/img/nbalogoc.png" alt="Avatar" class="image" /> -->
        <div class="content-box">
          <h2>
            Ayodeji Isiolaotan, Esq.
          </h2>
          <p>
            Vice Chairman
          </p>
        </div>

        <div class="overlay">
          <div class="text">
            <div class="info">
              <h5 class="info-head">Year Of Call</h5>
              <p class="info-subhead">2007</p>
            </div>
            <mat-divider></mat-divider>
            <div class="info">
              <h5 class="info-head">Current Role</h5>
              <p class="info-subhead">
                Head Of Chambers @ Sola Ojutalayo & Co.
              </p>
            </div>
            <mat-divider></mat-divider>
            <div class="info">
              <h5 class="info-head">Specialization</h5>
              <p class="info-subhead">General Legal Practice</p>
            </div>
            <mat-divider></mat-divider>
            <div class="info">
              <h5 class="info-head">Personal Contact</h5>
              <p class="info-subhead">08034277684</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- General Secretary -->
    <div class="main-box">
      <div class="team-content3 team-content">
        <!-- <img src="../../assets/img/nbalogoc.png" alt="Avatar" class="image" /> -->
        <div class="content-box">
          <h2>
            Ajele Funmilayo, Esq.
          </h2>
          <p>
            General Secretary
          </p>
        </div>

        <div class="overlay">
          <div class="text">
            <div class="info">
              <h5 class="info-head">Year Of Call</h5>
              <p class="info-subhead">2007</p>
            </div>
            <mat-divider></mat-divider>
            <div class="info">
              <h5 class="info-head">Current Role</h5>
              <p class="info-subhead">
                Head of Chambers @ Ogbah Isaac & Co.
              </p>
            </div>
            <mat-divider></mat-divider>
            <div class="info">
              <h5 class="info-head">Specialization</h5>
              <p class="info-subhead">Corporate Law & Intellectual Property</p>
            </div>
            <mat-divider></mat-divider>
            <div class="info">
              <h5 class="info-head">Personal Contact</h5>
              <p class="info-subhead">08033177789</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Treasurer -->
    <div class="main-box">
      <div class="team-content4 team-content">
        <!-- <img src="../../assets/img/nbalogoc.png" alt="Avatar" class="image" /> -->
        <div class="content-box">
          <h2>
            Adijat Abdulkareem, AICMC
          </h2>
          <p>
            Treasurer
          </p>
        </div>

        <div class="overlay">
          <div class="text">
            <div class="info">
              <h5 class="info-head">Year Of Call</h5>
              <p class="info-subhead">2014</p>
            </div>
            <mat-divider></mat-divider>
            <div class="info">
              <h5 class="info-head">Current Role</h5>
              <p class="info-subhead">
                Head Of Chambers @ StarLinks Legals Practitioners
              </p>
            </div>
            <mat-divider></mat-divider>
            <div class="info">
              <h5 class="info-head">Specialization</h5>
              <p class="info-subhead">General Legal Practice</p>
            </div>
            <mat-divider></mat-divider>
            <div class="info">
              <h5 class="info-head">Personal Contact</h5>
              <p class="info-subhead">08062398004</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Financial Secretary -->
    <div class="main-box">
      <div class="team-content5 team-content">
        <!-- <img src="../../assets/img/nbalogoc.png" alt="Avatar" class="image" /> -->
        <div class="content-box">
          <h2>
            Ayo Ogundeji, Esq.
          </h2>
          <p>
            Financial Secretary
          </p>
        </div>

        <div class="overlay">
          <div class="text">
            <div class="info">
              <h5 class="info-head">Year Of Call</h5>
              <p class="info-subhead">--</p>
            </div>
            <mat-divider></mat-divider>
            <div class="info">
              <h5 class="info-head">Current Role</h5>
              <p class="info-subhead">
                ---
              </p>
            </div>
            <mat-divider></mat-divider>
            <div class="info">
              <h5 class="info-head">Specialization</h5>
              <p class="info-subhead">Corporate/Commercial</p>
            </div>
            <mat-divider></mat-divider>
            <div class="info">
              <h5 class="info-head">Personal Contact</h5>
              <p class="info-subhead">---</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Welfare Secretary -->
    <div class="main-box">
      <div class="team-content6 team-content">
        <!-- <img src="../../assets/img/nbalogoc.png" alt="Avatar" class="image" /> -->
        <div class="content-box">
          <h2>
            Oluremi A. Alao, Esq.
          </h2>
          <p>
            Welfare Secretary
          </p>
        </div>

        <div class="overlay">
          <div class="text">
            <div class="info">
              <h5 class="info-head">Year Of Call</h5>
              <p class="info-subhead">---</p>
            </div>
            <mat-divider></mat-divider>
            <div class="info">
              <h5 class="info-head">Current Role</h5>
              <p class="info-subhead">
                ---
              </p>
            </div>
            <mat-divider></mat-divider>
            <div class="info">
              <h5 class="info-head">Specialization</h5>
              <p class="info-subhead">Corporate/Commercial</p>
            </div>
            <mat-divider></mat-divider>
            <div class="info">
              <h5 class="info-head">Personal Contact</h5>
              <p class="info-subhead">08034068808</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Social Secretary -->
    <div class="main-box">
      <div class="team-content7 team-content">
        <!-- <img src="../../assets/img/nbalogoc.png" alt="Avatar" class="image" /> -->
        <div class="content-box">
          <h2>
            (<i>Vacant</i>)
          </h2>
          <p>
            Social Secretary
          </p>
        </div>

        <div class="overlay">
          <div class="text">
            <div class="info">
              <h5 class="info-head">Year Of Call</h5>
              <p class="info-subhead">---</p>
            </div>
            <mat-divider></mat-divider>
            <div class="info">
              <h5 class="info-head">Current Role</h5>
              <p class="info-subhead">
                ---
              </p>
            </div>
            <mat-divider></mat-divider>
            <div class="info">
              <h5 class="info-head">Specialization</h5>
              <p class="info-subhead">---</p>
            </div>
            <mat-divider></mat-divider>
            <div class="info">
              <h5 class="info-head">Personal Contact</h5>
              <p class="info-subhead">---</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Publicity Secretary -->
    <div class="main-box">
      <div class="team-content8 team-content">
        <!-- <img src="../../assets/img/nbalogoc.png" alt="Avatar" class="image" /> -->
        <div class="content-box">
          <h2>
            M.A Salako, Esq.
          </h2>
          <p>
            Publicity Secretary
          </p>
        </div>

        <div class="overlay">
          <div class="text">
            <div class="info">
              <h5 class="info-head">Year Of Call</h5>
              <p class="info-subhead">---/p>
            </div>
            <mat-divider></mat-divider>
            <div class="info">
              <h5 class="info-head">Current Role</h5>
              <p class="info-subhead">
                ---
              </p>
            </div>
            <mat-divider></mat-divider>
            <div class="info">
              <h5 class="info-head">Specialization</h5>
              <p class="info-subhead">Corporate/Commercial</p>
            </div>
            <mat-divider></mat-divider>
            <div class="info">
              <h5 class="info-head">Personal Contact</h5>
              <p class="info-subhead">---</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Asst. Secretary -->
    <div class="main-box">
      <div class="team-content9 team-content">
        <!-- <img src="../../assets/img/nbalogoc.png" alt="Avatar" class="image" /> -->
        <div class="content-box">
          <h2>
            Onyekachukwu A. Okeke, AICMC
          </h2>
          <p>
            Asst. Secretary
          </p>
        </div>

        <div class="overlay">
          <div class="text">
            <div class="info">
              <h5 class="info-head">Year Of Call</h5>
              <p class="info-subhead">2016</p>
            </div>
            <mat-divider></mat-divider>
            <div class="info">
              <h5 class="info-head">Current Role</h5>
              <p class="info-subhead">
                ---
              </p>
            </div>
            <mat-divider></mat-divider>
            <div class="info">
              <h5 class="info-head">Specialization</h5>
              <p class="info-subhead">Corporate/Commercial</p>
            </div>
            <mat-divider></mat-divider>
            <div class="info">
              <h5 class="info-head">Personal Contact</h5>
              <p class="info-subhead">07035088775</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Provost -->
    <div class="main-box">  
      <div class="team-content10 team-content">
        <!-- <img src="../../assets/img/nbalogoc.png" alt="Avatar" class="image" /> -->
        <div class="content-box">
          <h2>
            Ademola Adewale Ige, AICMC
          </h2>
          <p>
            Provost
          </p>
        </div>

        <div class="overlay">
          <div class="text">
            <div class="info">
              <h5 class="info-head">Year Of Call</h5>
              <p class="info-subhead">2008</p>
            </div>
            <mat-divider></mat-divider>
            <div class="info">
              <h5 class="info-head">Current Role</h5>
              <p class="info-subhead">
                ---
              </p>
            </div>
            <mat-divider></mat-divider>
            <div class="info">
              <h5 class="info-head">Specialization</h5>
              <p class="info-subhead">Corporate/Commercial</p>
            </div>
            <mat-divider></mat-divider>
            <div class="info">
              <h5 class="info-head">Personal Contact</h5>
              <p class="info-subhead">08036740043</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
