<section>
  <div class="sc-container">
    <div class="sc-items1">
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title
            >SIR. (CHIEF) OLUSEUN AKINTAYO AKINBIYI, SAN., KJW
          </mat-card-title>
          <mat-card-subtitle>Principal Partner @ Seun Akinbiyi & Co.</mat-card-subtitle>
        </mat-card-header>
        <mat-divider></mat-divider>
        <!-- <img
            mat-card-image
            src="assets/img/honorary/elder_ameh.jpg"
            alt="Photo of a Shiba Inu"
          /> -->
        <div mat-card-image class="img-box"></div>
        <mat-divider></mat-divider>
        <mat-card-content>
          <br />
          <div>
            <h3>Personal Data:</h3>
            <ul>
              <li>DATE OF BIRTH: 15TH JULY, 1960</li>
              <li>STATE OF ORIGIN: OGUN STATE</li>
              <li>LOCAL GOVERNMENT: ADO-ODO/OTA LOCAL GOVERNMENT AREA</li>
              <li>HOME OF BIRTH: ARO COMPOUND, ITA ILATA, OTA, OGUN STATE.</li>
              <li>
                MARITAL STATUS: HAPPILY MARRIED TO VERY RESOURCEFUL WOMAN,
                AUTHOR AND A JUDGE OF THE HIGH COURT OF OGUN STATE.
              </li>
            </ul>

            <h3>Education</h3>
            <ul>
              <li>
                St. Paul’s Primary School, Makun, Shagamu - 1965 – 1968 NIL
              </li>
              <li>
                E.D.C. School, Ilugun, Abeokuta - 1969-1970 Primary Sch. Leaving
                Certificate
              </li>
              <li>
                Baptist Boys’ High School, Abeokuta - 1972 – 1975 School
                Certificate
              </li>
              <li>Igbobi College, Yaba, Lagos - 1975 - 1977</li>
              <li>
                University of Lagos, Akoka, Lagos - 1978 – 1981 B.Sc. Econs.
                (Hons.) 2nd Class Upper
              </li>
              <li>
                University of Ife (now O.A.U.), Ile – Ife - 1983 - 1984 M.Sc.
                Econs. (as University Scholar)
              </li>
              <li>University of Ibadan - 1984 - 1986 LL.B. Hons.</li>
              <li>
                Nigerian Law School, V.I., Lagos - 1986- 1987 Call to Bar
                Certificate
              </li>
            </ul>

            <h3>Work Experience</h3>
            <ul>
              <li>
                N.Y.S.C., Teaching, Ilesa Grammar School, Ilesa, Osun State -
                1981 – 1982
              </li>
              <li>
                Lecturing, University of Ife as University Scholar - 1984
              </li>
              <li>Freelance broadcasting with Radio Nigeria - 1983 – 1984</li>
              <li>
                Legal Professional Practice up to the Supreme Court since - 1987
              </li>
              <li>
                Notary Public of the Supreme Court of Nigeria - 1994 till date
              </li>
              <li>
                Member, Judicial Service Commission of Ogun State - 2004 – 2009
              </li>
              <li>
                Counsel to the Commission on the Re-Classification of Obas in
                Ogun State 2006
              </li>
              <li>
                Member, University Council – The Bells University of Technology,
                OTA. 2013 – till date
              </li>
            </ul>
            <h3>Positions Held, Awards & Honors</h3>
            <ul>
              <li>Winner - University of Ife Scholarship Award - 1983</li>
              <li>
                Winner – Many Inter University Faculties of Law Debates - 1984 –
                1986
              </li>
              <li>
                Winner – Inter Hall Debates, University of Ibadan - 1984
              </li>
              <li>
                Secretary – Nigerian Bar Association (OTA Branch) - 1991 –
                1993/94
              </li>
              <li>
                Chairman – Nigerian Bar Association (OTA Branch) - 1994 – 1995;
                1999-2001
              </li>
              <li>
                Co-ordinator, Campaign for Democracy, Ogun West and Ifo - 1996 -
                1999
              </li>
              <li>
                Member, Law Reporting Committee of Ogun State High Court - 1994
                – 2001
              </li>
              <li>
                Member, National Executive Committee of the Nigerian Bar
                Association
              </li>
              <li>
                Legal Adviser, Methodist Church, Nigeria, (OTA Circuit) - 2001
                – 2005
              </li>
              <li>Bar Man of the Year NBA (OTA Branch) - 2005</li>
              <li>
                Value Based Award, Rotary Club of OTA, District 9110 Nigeria
              </li>
              <li>
                Honoray Award of the Bible Society of Nigeria, OTA Auxiliary
              </li>
              <li>
                Member, Anti-Corruption Commission of the Nigerian Bar
                Association
              </li>
              <li>
                Patron, Christian Association of Nigeria (Ado-Odo/OTA Local
                Government Area, Ogun State)
              </li>
              <li>
                Award of Excellence as the Best Legal Practitioner & Law Firm
                (The Voice Media Communication)
              </li>
              <li>
                Merit Award of the Ottun, (Ota, Ogun State Community Development
                Association)
              </li>
              <li>Award of Excellence, (NBA, Ota Branch) - 2015</li>
              <li>
                Honorary Award, Law Students’ Society (Olabisi Onabanjo
                University ) - 2016
              </li>
              <li>
                Distinguished Personality Award, (Agosasa Community of Ogun
                State Festival) - 2016
              </li>
              <li>
                Honorary Award in recognition of Selfless, Meritorious and
                Dedicated Service to the Society (Law Students’ Society –
                Olabisi Onabanjo University) – 2017
              </li>
              <li>
                Conferment of the Rank of Senior Advocate of Nigeria (S.A.N.) -
                2018
              </li>
              <li>
                Appreciation Award, (Obalaju Day Planning Committee, Joga Orile,
                Yewa North, Ogun State). - 2018
              </li>
              <li>Award of Distinction, (NBA, Ota Branch) - 2018</li>
              <li>Knight of John Wesley, (Methodist Church, Nigeria) - 2019</li>
              <li>Community Excellence Award, (Iganmode Club, Ota) - 2020</li>
              <li>
                The Most Consistent Host of the Utter Bar in the past two
                Decades (NBA, Ota Branch). - 2020
              </li>
            </ul>
            <h3>Lectures Delivered</h3>
            <h4>(A) Professional Lectures</h4>
            <ul>
              <li>
                Democratic Rule and the Constitutional Right of the Electorate
                Before and After Election (2002)
              </li>
              <li>
                Paradox of the Futility and Utility of Reviewing the Rules of
                the High Court of Ogun State in line with the High Court of
                Lagos State (Civil Procedure) Rules, 2004 (November, 2006).
              </li>
              <li>
                The Legal Status of a Magistrate under the 1999 Constitution of
                the Federal Republic of Nigeria. (April, 2008).
              </li>
              <li>A Critique on the Evidence Act, 2011 (July, 2013)</li>
              <li>
                Application Of Ethical Principles In Legal Profession: Strict
                Enforcement By The Bar And The Bench (2019).
              </li>
              <li>
                Road To The Silk; Lessons To Young Lawyers (November, 2018)
              </li>
            </ul>
            <h4>(B) Social – Political Lectures</h4>
            <ul>
              <li>
                he Land Question and its Management for Optimal Gains, (May,
                2001)
              </li>
              <li>
                The Role of OTA in the Polity of Ogun State, (October, 2006).
              </li>
              <li>
                Strategies for Lifting the Living Condition of People of
                Ado-Odo/OTA Local Government Area, Ogun State, (October, 2011).
              </li>
            </ul>
            <h3>International Conferences & Workshops Attended</h3>
            <ul>
              <li>
                International Bar Association (African Regional Forum)
                Conference on Developing the Law as an instrument for Social and
                Economic Rights (Lagos, Nigeria) - 2004
              </li>
              <li>
                International Bar Association (African Regional Forum)
                Conference on The Fundamentals of International Legal Business
                Practice (Lagos, Nigeria) - 2005
              </li>
              <li>
                The Commonwealth Magistrates’ and Judges Association Conference
                on Protecting Our People – Preserving Our Environment The
                Judging of Diversity –The Diversity of Judging (Toronto, Canada)
                - 2006
              </li>
              <li>
                The Commonwealth Magistrates’ and Judges Association Conference
                on “Constitutional Independence the Magistrate and Judge with
                reference to the Separation of Powers” (Cape Town, South Africa)
                - 2008
              </li>
              <li>
                The Commonwealth Magistrates’ and Judges Association Conference
                on “Judicial Independence, Diversity, Pluralism, and Challenge
                in the Commonwealth (Kuala Lumpur, Malaysia) - 2011
              </li>
              <li>
                The Commonwealth Magistrates’ and Judges’ Association Conference
                on “Is Your Latmier House In Order” (Jersey, United Kingdom) -
                2013
              </li>
            </ul>
            <h3>Books Under Publication</h3>
            <ul>
              <li>Jurisprudence of Coups D’etat in Nigeria.</li>
              <li>The Law and You</li>
            </ul>
            <h3>Chieftancy Titles</h3>
            <ul>
              <li>OKANLOMO OF SANGO-OTA - 2003</li>
              <li>BAMOFIN OF JOGALAND - 2011</li>
              <li>AKOGUN OF ZION METHODIST CHURCH, OTA - 2017</li>
              <li>BAAJIPE OF AGOSASA - 2017</li>
            </ul>
            <h3>Hobbies</h3>
            <p>Traveling, Reading and Debates</p>
            <h3>Professional Bodies</h3>
            <ul>
              <li>Nigerian Bar Association</li>
              <li>International Bar Association</li>
            </ul>
          </div>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>
    </div>
    <div class="sc-items2">
      <mat-card class="example2-card">
        <div class="info">
          <h5 class="info-head">YEARS @ THE BAR</h5>
          <h5 class="info-subhead">33</h5>
        </div>
        <mat-divider></mat-divider>
        <div class="info">
          <h5 class="info-head">CURRENT ROLE</h5>
          <h5 class="info-subhead">Principal Partner @ Seun Akinbiyi & Co.</h5>
        </div>
        <mat-divider></mat-divider>
        <div class="info">
          <h5 class="info-head">AREA OF SPECIALIZATION</h5>
          <h5 class="info-subhead">General legal practice</h5>
        </div>
        <mat-divider></mat-divider>
        <div class="info">
          <h5 class="info-head">PERSONAL/OFFICIAL LINKS</h5>
          <h5 class="info-subhead">Website</h5>
        </div>
      </mat-card>
    </div>
  </div>
</section>
