<section
  class="seniorofficials"
  style="--image-url: url('../../../assets/img/lawb.jpeg');"
>
  <div>
    <h1
      class="mat-display-1"
      style="text-align: center; padding-top: 2rem; color: #bfcf25;"
    >
      OUR ELDER STATESMEN
    </h1>
    <p
      class="officials-heading2"
      style="
        text-align: center;
        margin-top: 1rem;
        margin-left: 2rem;
        margin-right: 2rem;
        color: white;
      "
    >
      As it were, the NBA, Ota Branch continues to be one of the most vibrant
      Branches of the NBA. The following are eminent senior members amongst
      which some were very instrumental through the formative years of the
      branch and are still serving tirelessly
    </p>
  </div>

  <div class="container">
    <div class="main-box">
      <div class="team-content1 team-content">
        <!-- <div class="img-box">
          <img src="assets/img/nbalogoc.png" alt="" />
        </div> -->
        <div class="content-box">
          <h2>
            Hon. Justice M.A. Dipeolu
          </h2>
          <p>
            Chief Judge, Ogun State
          </p>
        </div>
        <div class="footer-part">
          <a>View Profile</a>
        </div>
        <div class="span span1"></div>
        <div class="span span2"></div>
        <div class="span span3"></div>
        <div class="span span4"></div>
        <div class="span span5"></div>
        <div class="span span6"></div>
        <div class="span span7"></div>
        <div class="span span8"></div>
        <div class="span span9"></div>
      </div>
    </div>

    <div class="main-box">
      <div class="team-content2 team-content">
        <!-- <div class="img-box">
          <img src="assets/img/nbalogoc.png" alt="" />
        </div> -->
        <div class="content-box">
          <h2>
            Gbolahan Adeniran, Esq.
          </h2>
          <p>
            Attorney General, Ogun State
          </p>
        </div>
        <div class="footer-part">
          <a>View Profile</a>
        </div>
        <div class="span span1"></div>
        <div class="span span2"></div>
        <div class="span span3"></div>
        <div class="span span4"></div>
        <div class="span span5"></div>
        <div class="span span6"></div>
        <div class="span span7"></div>
        <div class="span span8"></div>
        <div class="span span9"></div>
      </div>
    </div>

    <div class="main-box">
      <div class="team-content11 team-content">
        <!-- <div class="img-box">
          <img src="assets/img/nbalogoc.png" alt="" />
        </div> -->
        <div class="content-box">
          <h2>
            Hon. Justice O.O. Majekodunmi
          </h2>
          <p>
            Admin Judge, Ota Division
          </p>
        </div>
        <div class="footer-part">
          <a>View Profile</a>
        </div>
        <div class="span span1"></div>
        <div class="span span2"></div>
        <div class="span span3"></div>
        <div class="span span4"></div>
        <div class="span span5"></div>
        <div class="span span6"></div>
        <div class="span span7"></div>
        <div class="span span8"></div>
        <div class="span span9"></div>
      </div>
    </div>

    <div class="main-box">
      <div class="team-content3 team-content">
        <!-- <div class="img-box">
          <img src="assets/img/nbalogoc.png" alt="" />
        </div> -->
        <div class="content-box">
          <h2>
            Olusola Ojutalayo, SAN
          </h2>
          <p>
            Senior Advocate of Nigeria
          </p>
        </div>
        <div class="footer-part">
          <a routerLink="/about-us/ojutalayo">View Profile</a>
        </div>
        <div class="span span1"></div>
        <div class="span span2"></div>
        <div class="span span3"></div>
        <div class="span span4"></div>
        <div class="span span5"></div>
        <div class="span span6"></div>
        <div class="span span7"></div>
        <div class="span span8"></div>
        <div class="span span9"></div>
      </div>
    </div>

    <div class="main-box">
      <div class="team-content4 team-content">
        <!-- <div class="img-box">
          <img src="assets/img/nbalogoc.png" alt="" />
        </div> -->
        <div class="content-box">
          <h2>
            Chief O.T. Akinbiyi, SAN
          </h2>
          <p>
            Senior Advocate Of Nigeria
          </p>
        </div>
        <div class="footer-part">
          <a routerLink="/about-us/akintayo">View Profile</a>
        </div>
        <div class="span span1"></div>
        <div class="span span2"></div>
        <div class="span span3"></div>
        <div class="span span4"></div>
        <div class="span span5"></div>
        <div class="span span6"></div>
        <div class="span span7"></div>
        <div class="span span8"></div>
        <div class="span span9"></div>
      </div>
    </div>

    <div class="main-box">
      <div class="team-content6 team-content">
        <!-- <div class="img-box">
          <img src="assets/img/nbalogoc.png" alt="" />
        </div> -->
        <div class="content-box">
          <h2>
            Hon. Justice S.A Olugbemi (Rtd)
          </h2>
          <p>
            Fmr. Judge, Ogun State
          </p>
        </div>
        <div class="footer-part">
          <a routerLink="/about-us/olugbemi">View Profile</a>
        </div>
        <div class="span span1"></div>
        <div class="span span2"></div>
        <div class="span span3"></div>
        <div class="span span4"></div>
        <div class="span span5"></div>
        <div class="span span6"></div>
        <div class="span span7"></div>
        <div class="span span8"></div>
        <div class="span span9"></div>
      </div>
    </div>

    <div class="main-box">
      <div class="team-content5 team-content">
        <!-- <div class="img-box">
          <img src="assets/img/nbalogoc.png" alt="" />
        </div> -->
        <div class="content-box">
          <h2>
            Hon. Justice S.M. Owodunni
          </h2>
          <p>
            Judge, Ogun State
          </p>
        </div>
        <div class="footer-part">
          <a>View Profile</a>
        </div>
        <div class="span span1"></div>
        <div class="span span2"></div>
        <div class="span span3"></div>
        <div class="span span4"></div>
        <div class="span span5"></div>
        <div class="span span6"></div>
        <div class="span span7"></div>
        <div class="span span8"></div>
        <div class="span span9"></div>
      </div>
    </div>

    <div class="main-box">
      <div class="team-content7 team-content">
        <!-- <div class="img-box">
          <img src="assets/img/nbalogoc.png" alt="" />
        </div> -->
        <div class="content-box">
          <h2>
            Hon. Justice Durojaiye Omolaja
          </h2>
          <p>
            Judge, Ogun State
          </p>
        </div>
        <div class="footer-part">
          <a>View Profile</a>
        </div>
        <div class="span span1"></div>
        <div class="span span2"></div>
        <div class="span span3"></div>
        <div class="span span4"></div>
        <div class="span span5"></div>
        <div class="span span6"></div>
        <div class="span span7"></div>
        <div class="span span8"></div>
        <div class="span span9"></div>
      </div>
    </div>

    <div class="main-box">
      <div class="team-content12 team-content">
        <!-- <div class="img-box">
          <img src="assets/img/nbalogoc.png" alt="" />
        </div> -->
        <div class="content-box">
          <h2>
            Hon. Justice H.O. Oyajinmi
          </h2>
          <p>
            Judge, Ogun State
          </p>
        </div>
        <div class="footer-part">
          <a routerLink="/about-us/oyajinmi">View Profile</a>
        </div>
        <div class="span span1"></div>
        <div class="span span2"></div>
        <div class="span span3"></div>
        <div class="span span4"></div>
        <div class="span span5"></div>
        <div class="span span6"></div>
        <div class="span span7"></div>
        <div class="span span8"></div>
        <div class="span span9"></div>
      </div>
    </div>

    <div class="main-box">
      <div class="team-content8 team-content">
        <!-- <div class="img-box">
          <img src="assets/img/nbalogoc.png" alt="" />
        </div> -->
        <div class="content-box">
          <h2>
            HRM. Oba Samuel Ojugbele
          </h2>
          <p>
            Onilogbo Of Ilogbo-Asowo
          </p>
        </div>
        <div class="footer-part">
          <a routerLink="/about-us/ojugbele">View Profile</a>
        </div>
        <div class="span span1"></div>
        <div class="span span2"></div>
        <div class="span span3"></div>
        <div class="span span4"></div>
        <div class="span span5"></div>
        <div class="span span6"></div>
        <div class="span span7"></div>
        <div class="span span8"></div>
        <div class="span span9"></div>
      </div>
    </div>

    <div class="main-box">
      <div class="team-content9 team-content">
        <!-- <div class="img-box">
          <img src="assets/img/nbalogoc.png" alt="" />
        </div> -->
        <div class="content-box">
          <h2>
            Oluwaleke F. Kehinde, Esq.
          </h2>
          <p>
            Elder Statesman
          </p>
        </div>
        <div class="footer-part">
          <a routerLink="/about-us/oluwaleke">View Profile</a>
        </div>
        <div class="span span1"></div>
        <div class="span span2"></div>
        <div class="span span3"></div>
        <div class="span span4"></div>
        <div class="span span5"></div>
        <div class="span span6"></div>
        <div class="span span7"></div>
        <div class="span span8"></div>
        <div class="span span9"></div>
      </div>
    </div>
    <div class="main-box">
      <div class="team-content10 team-content">
        <!-- <div class="img-box">
          <img src="assets/img/nbalogoc.png" alt="" />
        </div> -->
        <div class="content-box">
          <h2>
            Elder (Dr) S.A. Ameh
          </h2>
          <p>
            Elder Statesman
          </p>
        </div>
        <div class="footer-part">
          <a routerLink="/about-us/ameh">View Profile</a>
        </div>
        <div class="span span1"></div>
        <div class="span span2"></div>
        <div class="span span3"></div>
        <div class="span span4"></div>
        <div class="span span5"></div>
        <div class="span span6"></div>
        <div class="span span7"></div>
        <div class="span span8"></div>
        <div class="span span9"></div>
      </div>
    </div>

    <div class="main-box">
      <div class="team-content13 team-content">
        <!-- <div class="img-box">
          <img src="assets/img/nbalogoc.png" alt="" />
        </div> -->
        <div class="content-box">
          <h2>
            Otunba Olumide Akinbinu
          </h2>
          <p>
            Elder Statesman
          </p>
        </div>
        <div class="footer-part">
          <a>View Profile</a>
        </div>
        <div class="span span1"></div>
        <div class="span span2"></div>
        <div class="span span3"></div>
        <div class="span span4"></div>
        <div class="span span5"></div>
        <div class="span span6"></div>
        <div class="span span7"></div>
        <div class="span span8"></div>
        <div class="span span9"></div>
      </div>
    </div>
  </div>
</section>
