<section>
  <div class="sc-container">
    <div class="sc-items1">
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>FRANCIS OLUWALEKE KEHINDE ESQ</mat-card-title>
          <mat-card-subtitle>Principal Partner @ Leke Kehinde & Co.</mat-card-subtitle>
        </mat-card-header>
        <mat-divider></mat-divider>
        <!-- <img
            mat-card-image
            src="assets/img/honorary/elder_ameh.jpg"
            alt="Photo of a Shiba Inu"
          /> -->
        <div mat-card-image class="img-box"></div>
        <mat-divider></mat-divider>
        <mat-card-content>
          <br />
          <div>
            <h3>Date Of Call to Bar</h3>
            <p>
              22nd day of October, 1986
            </p>

            <h3>NBA Portfolio held</h3>
            <ul>
              <li>
                Secretary-General of Nigerian Bar Association (Otta Branch)
                October 1994 - July 1995
              </li>
              <li>
                Member - Commitee on Review of Court Fees, N.B.A (Otta Branch)
                1995
              </li>
              <li>
                Member -Committee on Bye-Laws for N.B.A (Otta Branch) 2006
              </li>
            </ul>
          </div>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>
    </div>
    <div class="sc-items2">
      <mat-card class="example2-card">
        <div class="info">
          <h5 class="info-head">YEARS @ THE BAR</h5>
          <h5 class="info-subhead">34</h5>
        </div>
        <mat-divider></mat-divider>
        <div class="info">
          <h5 class="info-head">CURRENT ROLE</h5>
          <h5 class="info-subhead">Principal Partner @ Leke Kehinde & Co.</h5>
        </div>
        <mat-divider></mat-divider>
        <div class="info">
          <h5 class="info-head">AREA OF SPECIALIZATION</h5>
          <h5 class="info-subhead">General legal practice</h5>
        </div>
        <mat-divider></mat-divider>
        <div class="info">
          <h5 class="info-head">PERSONAL/OFFICIAL LINKS</h5>
          <h5 class="info-subhead">Website</h5>
        </div>
      </mat-card>
    </div>
  </div>
</section>
