.young {
  // margin: 5%;
  // background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(5, 68, 14, 0.8));
}

.youngexecutives {
  // background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(5, 68, 14, 0.8)),
  //   var(--image-url) center center;
  // background-size: cover;

  margin: 5%;
}

table {
  // margin-left: 5%;
  // margin-right: 10%;
  width: 100%;
  margin-bottom: 3rem;
}

.mat-header-cell {
  font-weight: bold;
  color: #43a047;
}
