<footer style="--image-url: url('../../../assets/img/footer/footer6.jpg');">
  <!-- Footer main -->
  <section class="ft-main">
    <div class="ft-main-item">
      <h2 class="ft-title">About</h2>
      <ul>
        <li><a routerLink="/about-us">Early History</a></li>
        <li><a routerLink="/about-us">Successive Chairmen</a></li>
        <li><a routerLink="/about-us">Honorary Recognitions</a></li>
        <li><a routerLink="/branch-officers">Management Team</a></li>
        <li><a routerLink="/about-us">Young Lawyers Forum (YLF)</a></li>
      </ul>
    </div>
    <div class="ft-main-item">
      <h2 class="ft-title">Quick Links</h2>
      <ul>
        <li><a routerLink="/">Home</a></li>
        <li><a routerLink="/contact-us">Email</a></li>
        <li><a routerLink="/members">Find A Lawyer</a></li>
        <li><a routerLink="/inaugural-speech">Inaugural Speech</a></li>
        <li><a routerLink="/">News & Events</a></li>
        <li><a routerLink="/chairman">Chairman's Profile</a></li>
        <li><a routerLink="/vice-chairman">Vice Chairman's Profile</a></li>
      </ul>
    </div>
    <div class="ft-main-item">
      <h2 class="ft-title">Contact</h2>
      <ul>
        <li>
          <a href="#">Branch Secretariat:</a>
          <p>C/o Cloak Room,</p>
          <p>High Court, Ota, Premises</p>
          <p>Idi-Iroko Road, Ota, Ogun State.</p>
        </li>
        <li>
          <a href="#">Email:</a>
          <p>nbaota@gmail.com</p>
        </li>
        <li>
          <a href="#">Phone</a>
          <p>+234 803 360 4432</p>
          <p>+234 803 317 7789</p>
          <!-- <p>+234 803 470 7523</p>
          <p>+234 803 360 4432</p> -->
        </li>
      </ul>
    </div>
    <!-- <div class="ft-main-item">
      <h2 class="ft-title">Stay Updated</h2>
      <p>Subscribe to our newsletter to get our latest news.</p>
      <form>
        <input type="email" name="email" placeholder="Enter email address" />
        <input type="submit" value="Subscribe" />
      </form>
    </div> -->
  </section>

  <!-- Footer social -->
  <section class="ft-social">
    <ul class="ft-social-list">
      <li>
        <a
          href="https://www.facebook.com/NBA-OTA-102165464932603/"
          target="_blank"
          rel="noopener noreferrer"
          ><i class="fab fa-facebook"></i
        ></a>
      </li>
      <li>
        <a href="#"><i class="fab fa-twitter"></i></a>
      </li>
      <li>
        <a
          href="https://www.instagram.com/nbaota/"
          target="_blank"
          rel="noopener noreferrer"
          ><i class="fab fa-instagram"></i
        ></a>
      </li>
      <!-- <li>
        <a href="#">youtube<i class="fab fa-youtube"></i></a>
      </li>
      <li>
        <a href="#"><i class="fab fa-github"></i></a>
      </li>
      <li>
        <a href="#"><i class="fab fa-linkedin"></i></a>
      </li> -->
    </ul>
  </section>

  <!-- Footer legal -->
  <section class="ft-legal">
    <ul class="ft-legal-list">
      <!-- <li><a href="#">Terms &amp; Conditions</a></li>
      <li><a href="#">Privacy Policy</a></li> -->
      <li>
        Copyright &copy; 2020. Nigerian Bar Association-Ota. All rights
        reserved.
      </li>
    </ul>
  </section>
</footer>
