<section>
  <div class="sc-container">
    <div class="sc-items1">
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>JOSEPH TAIWO OGUNNIYI, FICMC</mat-card-title>
          <mat-card-subtitle>Incumbent Chairman, NBA OTA</mat-card-subtitle>
        </mat-card-header>
        <mat-divider></mat-divider>
        <!-- <img
            mat-card-image
            src="assets/img/honorary/elder_ameh.jpg"
            alt="Photo of a Shiba Inu"
          /> -->
        <div mat-card-image class="img-box"></div>
        <mat-divider></mat-divider>
        <mat-card-content>
          <br />
          <div>
            <h3>Profile</h3>
            <p>
              <b>Joseph Taiwo Ogunniyi</b> popularly called
              <b>J. T. Ogunniyi</b> is a lawyer, a notary public, a trained
              arbitrator, negotiator and mediator. He was born at Agbamu in
              Irepodun Local Government Area of Kwara State. He started his
              education at St. Paul Anglican Primary School, Agbamu and had his
              West African Examination Certificate from Government Secondary
              School, Afon, Kwara State.
            </p>

            <p>
              He proceeded to Kwara College of Technology (now Kwara
              Polytechnic) Ilorin Kwara State where he had his A' level
              Certificate.
            </p>
            <p>
              He bagged his Bachelor of Laws Degree at the famous Ahmadu Bello
              University Zaria, Kaduna State in 1987. He was a member of the
              87/88 <b>Silver Jubilee</b> set of the Nigerian Law School. He was
              called to the Nigerian Bar on the 3rd of November, 1988 and
              enrolled at Supreme Court as Number SC 11547.
            </p>
            <p>
              As a Youth Corps member, he was first posted to the Nigeria
              Police, State Command, Eleweran, Abeokuta, Ogun State .
              <b>J. T. Ogunniyi's</b> enthusiasm and passion for legal practice
              drove him to seek for redeployment to the law firm of Adeleye
              Oyebanji & Co., at Ifo, Ogun State and the request was granted
              vide NYSC Call Up No: LAW / 88/56883 dated 17th November 1988.
            </p>
            <p>
              <b>J. T. Ogunniyi</b> thus did his NYSC at the law firm of Adeyeye
              Oyebanji & Co. Destiny however, played a fast one on him as his
              Principal, Mr. Emmanuel Oyebanji had to move to Lagos to hold
              forth at the Chambers of Dr. Dele Oyebanji who was then appointed
              as Attorney General and Commissioner for Justice Kwara State. It
              was J. T. Ogunniyi who managed the Chambers for 5 years with a
              display of an excellent and satisfactory performance.
            </p>
            <p>
              <b>J. T. Ogunniyi</b> registered his own law office in the name of
              <b>J. T. Ogunniyi & Co</b> in 1993 and since then he has been in
              active private practice as the principal partner of his law firm.
            </p>
            <p>
              <b>J. T. Ogunniyi</b> is a <b>pioneer</b> and
              <b>active member</b> of Ota Bar. He participated in the
              <b>formation</b> of Ota Bar in conjunction with other eminent
              notable leaders and seniors. He played an active role in ensuring
              that Ota Bar is officially registered by the National Body.
            </p>

            <p>
              <b>J. T. Ogunniyi</b> is a Bar man both at the Local and National
              levels. He was the vice Chairman of NBA Ota Branch in the Nwikpo
              led administration from 1995 to 1996. He is a very good
              financial member of Ota Bar and the National Body. He has attended
              several National Conferences at his own expense. As a committed
              member of the Bar, he played an active role in ensuring that fake
              lawyers do not have a stay in Ota Judicial Division. On behalf of
              Ota Bar, <b>J. T. Ogunniyi</b> was the one that testified as a
              witness in the case made out of NBA OTA Branch complaint against
              one Onifade who once practiced as a fake lawyer and was arrested.
              The said Onifade was subsequently jailed. This singular act of his
              and the support of other noble elders and leaders of NBA Ota
              Branch sent a clear signal and warning to would be fake lawyers
              who may want to stay in Ota Bar.
            </p>

            <p>
              Undoubtedly, <b>J. T. Ogunniyi</b> is a successful Legal
              Practitioner who has won most of his cases that cut across the
              fields of land law, commercial law, criminal law, intellectual
              property law, law of torts and matrimonial causes etc.
            </p>
            <p>
              <b>J. T. Ogunniyi</b> is a notary public, a fellow of Institute of
              Chartered Mediators and Conciliators (ICMC), a member of Nigeria
              Chartered Institute of Arbitrators (CIArb), member Lagos Court of
              Arbitration, Registrar of Dioceses of Igbomina West Anglican
              Communion Nigeria, Legal adviser to Yoruba Council of Elders, Ogun
              State Chapter, and Legal Adviser to the Light Magazine of Christ
              Apostolic Church Egba Coordinating Council.
            </p>
            <p>
              <b>J. T. Ogunniyi</b> has mentored many lawyers who are also
              successful today in their own fields of endeavors.
            </p>
            <p>
              <b>J. T. Ogunniyi</b> is an external solicitor to
              <b>Sona Group of Companies</b> that comprises Sona Breweries Ltd.,
              Food, Agro and Allied Industry Ltd., Shongai Packaging Industry
              Ltd, Shongai Technologies Ltd., Euroglobal Foods and Distilleries
              Ltd., , Sona Agro Allied Foods Ltd, Sona Industrial Gases limited,
              Techblow Ltd., Coronation Power and Gases Ltd. and Coronation Real
              Estate Ltd.
            </p>
            <p>
              <b>J. T. Ogunniyi</b> is kind hearted with an ardent desire and
              willingness to always help the young and upcoming ones.
            </p>
            <p>
              <b>J. T. Ogunniyi</b> is happily married and blessed with
              beautiful children.
            </p>
          </div>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>
    </div>
    <div class="sc-items2">
      <mat-card class="example2-card">
        <div class="info">
          <h5 class="info-head">YEARS IN LAW</h5>
          <h5 class="info-subhead">32</h5>
        </div>
        <mat-divider></mat-divider>
        <div class="info">
          <h5 class="info-head">CURRENT ROLE</h5>
          <h5 class="info-subhead">Principal Partner @ J.T. Ogunniyi & Co.</h5>
        </div>
        <mat-divider></mat-divider>
        <div class="info">
          <h5 class="info-head">AREA OF SPECIALIZATION</h5>
          <h5 class="info-subhead">General legal practice</h5>
        </div>
        <mat-divider></mat-divider>
        <div class="info">
          <h5 class="info-head">PERSONAL/OFFICIAL LINKS</h5>
          <h5 class="info-subhead">Website</h5>
        </div>
      </mat-card>
    </div>
  </div>
</section>
