@mixin header-component-theme($my-theme) {
  $primary: map-get($my-theme, primary);
  $accent: map-get($my-theme, accent);

  .active-link {
    background-color: mat-color($my-theme-primary, 500);
  }

  // .mat-list-option:hover,
  // .mat-list-option:focus,
  // .mat-nav-list .mat-list-item:hover,
  // .mat-nav-list .mat-list-item:focus,
  // .mat-action-list .mat-list-item:hover,
  // .mat-action-list .mat-list-item:focus {
  //   background: mat-color($my-theme-primary, 300);
  //   color: mat-color($my-theme-primary, 900);
  // }
}

.example-spacer {
  flex: 1 1 auto;
}


