<section>
  <div class="sc-container">
    <div class="sc-items1">
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>ELDER (DR) SIMON A. AMEH</mat-card-title>
          <mat-card-subtitle>Principal Partner @ Ameh, Ameh & Co.</mat-card-subtitle>
        </mat-card-header>
        <mat-divider></mat-divider>
        <!-- <img
          mat-card-image
          src="assets/img/honorary/elder_ameh.jpg"
          alt="Photo of a Shiba Inu"
        /> -->
        <div mat-card-image class="img-box"></div>
        <mat-divider></mat-divider>
        <mat-card-content>
          <br />
          <div>
            <h3>Short Profile</h3>
            <p>
              The Amiable, cheerful, detribalized, tolerant, youthful and
              zealous <b>ELDER (DR) SIMON A. AMEH, ACIArb. U.K</b> was born at
              INYE in Ankpa Local Government Area of Kogi State to
              <b>Late Mr. & Mrs Ademu</b>
              Ameh over Fifty years ago.
            </p>

            <h3>Education</h3>
            <p>
              <b>ELDER (DR) SIMON A. AMEH</b> had his Nursery Education at CRI
              Nursery School, INYE in 1973, his Primary Education at LGED
              Primary School, Inye where he obtained Certificate of Primary
              Education in 1979. He then proceeded to Inye Community Secondary
              School, INYE-Ankpa in Kogi State where he emerged as the best
              graduating student in 1984. He got his General Certificate of
              Education, GCE “O” L in 1984. He also attended the School of Basic
              Studies, Makurdi an obtained his IJMB Certificate in 1986 and
              proceeded to read Law at the University of Jos and obtained his
              L.L.B (Hons) in 1989 and thereafter to the Nigeria Law School,
              Lagos where he got Barrister at Law (B.L) Certificate in 1990 and
              called to the Nigerian Bar on 12/12/1990. He Obtained his National
              Youth Service Corps Certificate in 1991.
            </p>
            <p>
              As a youth corps member, he was first posted to the office of the
              Secretary to the Ogun State Government, Abeokuta but after 3 weeks
              assignment, his enthusiasm and passion for legal practice drove
              him to seek for redeployment to the law firm of Olumuyiwa
              Akinsanya & Co. at Sagamu, Ogun State and same was granted. The
              law firm was later re-named Akinsanya, Ameh & Co. and headed by
              the Late Otunba Dan Ameh (of the blessed memory). Elder (DR) S. A.
              Ameh was retained as a Junior Partner for his credulous and worthy
              contribution to the firm. In 1993, a branch office of the law firm
              was opened at Ota, Ogun State and he was posted to Head the
              Branch. In 1995, the name of the law firm was changed to
              <b>Ameh, Ameh & Co.</b> and he is presently the Head of Chambers,
              with offices at Sagamu, Ota in Ogun State and Lokoja in Kogi
              State.
            </p>
            <p>
              He is an active member of the Nigeria Bar Association. He served
              the Ota Branch in many capacities, ranging from Financial
              Secretary, Treasurer, Vice Chairman and Chairman respectively. He
              served in many committees both at the National and local levels of
              the NBA which include the NEC Membership, Chairman, Disciplinary
              Committee, Caretaker Committee, Election Committee at various
              times and officiated as the Chairman Electoral Committee in the
              just conducted election of the NBA Ota Branch. He has attended all
              Annual General Conferences of the NBA from 1992 till date.
            </p>
            <p>
              He is a Chartered Arbitrator and Mediator and has numerous awards
              in recognition of his proficient, excellent and exemplary
              contributions to the legal practice and humanity including the NBA
              award of Excellence in 2018.
            </p>
            <p>
              He has mentored many lawyers who are also successful today in
              their fields of endeavour.
            </p>
            <p>
              He was ordained as an ELDER of Qua Iboe Church now United
              Evangelical Church of Nigeria in 2004 and became one of the
              National Legal Advisers from 2014 till date. He is currently the
              Chairman, Church Committee of the Sango-Ota Branch of UEC.
            </p>

            <p>
              He was conferred with an award of a Doctorate Degree in Divinity
              in 2013.
            </p>

            <p>
              He is of the Royalty, the Onu-Igala 1 of Ogun State, a Community
              Leader, Lover of humanity and public interest advocate.
            </p>
            <p>
              <b>ELDER (DR) SIMON A. AMEH</b> is an embodiment of humility and a
              model, worthy of emulation. An intelligent, vibrant and an erudite
              Lawyer of outstanding resilience, a staunch, loyal and devoted Man
              of God.
            </p>
            <p>
              He is happily married with children.
            </p>
          </div>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>
    </div>
    <div class="sc-items2">
      <mat-card class="example2-card">
        <div class="info">
          <h5 class="info-head">YEARS @ THE BAR</h5>
          <h5 class="info-subhead">30</h5>
        </div>
        <mat-divider></mat-divider>
        <div class="info">
          <h5 class="info-head">CURRENT ROLE</h5>
          <h5 class="info-subhead">Principal Partner @ Ameh, Ameh & Co.</h5>
        </div>
        <mat-divider></mat-divider>
        <div class="info">
          <h5 class="info-head">AREA OF SPECIALIZATION</h5>
          <h5 class="info-subhead">General legal practice</h5>
        </div>
        <mat-divider></mat-divider>
        <div class="info">
          <h5 class="info-head">PERSONAL/OFFICIAL LINKS</h5>
          <h5 class="info-subhead">Website</h5>
        </div>
      </mat-card>
    </div>
  </div>
</section>
