<section>
  <div class="sc-container">
    <div class="sc-items1">
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>HON. JUSTICE OLATUNDE HASSAN OYAJINMI</mat-card-title>
          <mat-card-subtitle>Judge, Ogun State</mat-card-subtitle>
        </mat-card-header>
        <mat-divider></mat-divider>
        <!-- <img
            mat-card-image
            src="assets/img/honorary/elder_ameh.jpg"
            alt="Photo of a Shiba Inu"
          /> -->
        <div mat-card-image class="img-box"></div>
        <mat-divider></mat-divider>
        <mat-card-content>
          <br />
          <div>
            <h3>Profile</h3>
            <p>
              <strong>Hon Justice Olatunde Hassan Oyajinmi</strong>, an indigene
              of Agosasa, Ipokia Local Government Area, Ogun State is a twin and
              the 3rd child of Late Alhaji(Chief) S.O Oyajinmi, who until his
              death was a renowned educationist and the Balogun Musulumi of the
              Agosasa Muslim Community and Alhaja S.I Oyajinmi a retiree
              attended Community High School, Agosasa, Ogun State for his
              secondary school education and he is an alumnus of the Faculty of
              Law, Ogun State University now Olabisi Onabanjo University
              Ago-Iwoye.
            </p>

            <p>
              After his call to the Nigerian Bar and while remaining in active
              private legal practice, <strong>Hon Justice Oyajinmi</strong> was
              appointed a Notary Public of the Supreme Court of Nigeria by the
              Chief Justice of Nigeria in 2007.
            </p>
            <p>
              Until his appointment as a judge of the High Court of Ogun State
              in November, 2018, his lordship established and was the principal
              solicitor of AL-ADL Law Firm, a firm that was involved as
              solicitors and advocate in diverse areas of law including but not
              limited to litigations at the High Courts and the Appellate Courts
              after his pupillage in the chambers of Opaleye, Gbadebo & Co.
            </p>
            <p>
              His lordship was an active bar man who served the Nigerian Bar
              Association as Assistant Branch Secretary between 2005-2007 and
              Branch Secretary, Ota first between 2007-2009 which position
              enabled him to serve as a member of Nigerian Bar Association
              National Executive Council(NEC), the decision making organ of the
              Nigerian Bar Association(NBA) in Nigeria and his lordship also
              served again as Branch Secretary of the Nigerian Bar Association,
              Ota branch between 2016-2018 which position he relinquished in
              July 2018 after the statutory tour of service.
            </p>
            <p>
              He is a Chartered Arbitrator and Mediator and has numerous awards
              in recognition of his proficient, excellent and exemplary
              contributions to the legal practice and humanity including the NBA
              award of Excellence in 2018.
            </p>
            <p>
              <strong>Hon Justice Oyajinmi</strong>, a member of Nigerian
              Institute of Mediation and Conciliations (N.I.M.C) is a devout
              moslem and family man.
            </p>
            <p>
              He is also a multiple Paul Harris Fellow of the Rotary
              International and served as the 25th President of the Rotary Club
              of Ota in the 2007\2008 Rotary year.
            </p>

            <p>
              His Lordship has attended various courses both in and outside of
              Nigeria in furtherance of his Lordship’s desire for continuing
              legal education in the legal profession.
            </p>
          </div>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>
    </div>
    <div class="sc-items2">
      <mat-card class="example2-card">
        <div class="info">
          <h5 class="info-head">YEARS @ THE BAR</h5>
          <h5 class="info-subhead">00</h5>
        </div>
        <mat-divider></mat-divider>
        <div class="info">
          <h5 class="info-head">CURRENT ROLE</h5>
          <h5 class="info-subhead">Judge, Ogun State</h5>
        </div>
        <mat-divider></mat-divider>
        <div class="info">
          <h5 class="info-head">AREA OF SPECIALIZATION</h5>
          <h5 class="info-subhead">NA</h5>
        </div>
        <mat-divider></mat-divider>
        <div class="info">
          <h5 class="info-head">PERSONAL/OFFICIAL LINKS</h5>
          <h5 class="info-subhead">Website</h5>
        </div>
      </mat-card>
    </div>
  </div>
</section>
