<ng-container>
  <!-- <app-header></app-header> -->

  <mat-toolbar
    class="navigation-toolbar"
    [class.navigation-is-mobile]="mobileQuery.matches"
    [class.mat-elevation-z0]="!isActive"
    [class.mat-elevation-z8]="isActive"
    [class.animated-header]="!isActivefadeInDown"
    [class.fadeInDown]="!isActivefadeInDown"
    [class.navigation-fixed]="!fixedTolbar"
  >
    <mat-toolbar-row>
      <button
        mat-icon-button
        (click)="sidenav.toggle()"
        fxShow="true"
        fxShow.gt-md="false"
      >
        <mat-icon>menu</mat-icon>
      </button>
      <a class="logo" routerLink="/"
        ><img src="assets/img/nbalogoc.png" alt="logo" style="width: 70px;" />
        <span style="font-size: 15px;">The Utter Bar</span></a
      >
      <!-- <span class="left-spacer"></span>
    <span class="header-spacer"></span> -->
      <mat-nav-list
        class="navigation-list"
        fxLayout="row"
        fxShow="false"
        fxShow.gt-xs="true"
      >
        <a mat-button routerLink="/" routerLinkActive="active-link">Home </a>
        <a mat-button routerLink="/about-us" routerLinkActive="active-link"
          >About Us
        </a>
        <a
          mat-button
          routerLink="/branch-officers"
          routerLinkActive="active-link"
          >Branch Officers
        </a>
        <a mat-button href="#" routerLinkActive="active-link">News </a>
        <a mat-button  routerLink="/contact-us" routerLinkActive="active-link">Contact </a>
      </mat-nav-list>
      <span class="navigation-spacer"></span>
      <button
        id="contact-fab-button"
        (click)="openDialog()"
        mat-mini-fab
        color="primary"
        matTooltip="Contact Us"
        [matTooltipPosition]="'left'"
      >
        <mat-icon>email</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>

  <div class="navigation-empty" fxShow="false" fxShow.gt-xs="true"></div>

  <mat-sidenav-container
    class="navigation-sidenav-container"
    [style.marginTop.px]="mobileQuery.matches ? 56 : 0"
  >
    <mat-sidenav
      #sidenav
      #snav
      [mode]="mobileQuery.matches ? 'over' : 'side'"
      [fixedInViewport]="mobileQuery.matches"
      (opened)="setToggleOn()"
      (closed)="setToggleOff()"
    >
      <mat-nav-list>
        <a
          mat-list-item
          routerLink="/"
          routerLinkActive="active-link"
          (click)="sidenav.close()"
        >
          <mat-icon class="sidenav-icon">home</mat-icon>
          <span class="sidenav-name"> Home </span>
        </a>
        <a
          mat-list-item
          routerLink="/about-us"
          routerLinkActive="active-link"
          (click)="sidenav.close()"
        >
          <mat-icon class="sidenav-icon">supervised_user_circle</mat-icon>
          <span class="sidenav-name"> About Us </span>
        </a>
        <a
          mat-list-item
          routerLink="/branch-officers"
          routerLinkActive="active-link"
          (click)="sidenav.close()"
        >
          <mat-icon class="sidenav-icon">local_police</mat-icon>
          <span class="sidenav-name"> Branch Officers </span>
        </a>
        <a
          mat-list-item
          href="#"
          routerLinkActive="active-link"
          (click)="sidenav.close()"
        >
          <mat-icon class="sidenav-icon">announcement</mat-icon>
          <span class="sidenav-name"> News </span>
        </a>
        <a
          mat-list-item
          routerLink="/contact-us"
          routerLinkActive="active-link"
          (click)="sidenav.close()"
        >
          <mat-icon class="sidenav-icon">local_post_office</mat-icon>
          <span class="sidenav-name"> Contact </span>
        </a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content nba-scroll (onScroll)="detectScroll($event)">
      <router-outlet></router-outlet>
      <app-footer></app-footer>
    </mat-sidenav-content>
  </mat-sidenav-container>
</ng-container>
