<section>
  <div class="sc-container">
    <div class="sc-items1">
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>OLUSOLA O. OJUTALAYO, ESQ</mat-card-title>
          <mat-card-subtitle>Principal Partner @ Sola Ojutalayo & Co.</mat-card-subtitle>
        </mat-card-header>
        <mat-divider></mat-divider>
        <!-- <img
              mat-card-image
              src="assets/img/honorary/elder_ameh.jpg"
              alt="Photo of a Shiba Inu"
            /> -->
        <div mat-card-image class="img-box"></div>
        <mat-divider></mat-divider>
        <mat-card-content>
          <br />
          <div>
            <h3>Citation</h3>
            <p>
              <b>Olusola O. OJUTALAYO, Esq. S.A.N.</b> hails from Ile-Ife, Osun
              State but is well integrated into Ogun State which he regards as a
              second home having spent all his professional years in the State.
            </p>

            <p>
              He had his secondary education at the renowned Christ’s School,
              Ado-Ekiti, Ekiti State, where he obtained the West African School
              Certificate in 1976 and proceeded to the University of Ife,
              Ile-Ife (now Obafemi Awolowo University) where he bagged his
              Bachelor of Laws Degree (LL.B) Hons. in the year 1981.
            </p>
            <p>
              He was admitted to the Nigerian Law School, Victoria Island, Lagos
              and was called to the Nigerian Bar in the year 1982.
            </p>
            <p>
              <b>O. O. Ojutalayo Esq. S.A.N.</b> began his legal career at the
              Ministry of Justice, Ogun State as a Youth Corps Member between
              1982 - 1983. By reason of excellent performance and diligence, he
              was retained as a State Counsel by that Ministry upon his
              conclusion of national service. He was at the said Ministry as
              State Counsel from 1983 -1985.
            </p>
            <p>
              On the invitation of the Principal Counsel coupled with his quest
              for a more robust and challenging law practice, O. O. Ojutalayo
              Esq joined the law office of Messrs, Coker, Fadayiro & Associates
              in Abeokuta as an Associate from 1985 to 1988.
            </p>
            <p>
              He rose to the position of Senior Counsel in the then law firm of
              Chief Toye Coker SAN & Co. and diligently handled many briefs in
              that office till 1990. He became the Head of Chambers of Chief
              Toye Coker & Co. in 1991. As the Head of Chambers,
              <b>O. O. Ojutalayo</b> efficiently managed the office and
              professionally conducted his cases in all tiers of Court in
              Nigeria with acclaimed dexterity till 1998 when he felt it was
              time for him to move on.
            </p>
            <p>
              He went on to establish his own law firm of
              <b>Messrs Sola Ojutalayo & Co.</b> in 1998 and that office has
              continued to wax strong till date.
            </p>

            <p>
              <b>Olusola O. Ojutalayo</b> is a seasoned lawyer with an array of
              experience spanning litigation, arbitration, mediation,
              commercial/ corporate practice. He has handled myriad of cases in
              many aspects of the law, such as land, chieftaincy, trademarks,
              patent and designs, contract and commercial transactions, company
              proceedings, probate, election petition, constitutional law,
              trusteeship and inheritance as well as general criminal and civil
              litigations.
            </p>

            <p>
              <b>O. O. Ojutalayo, S.A.N.</b> has shown prowess and commitment to
              research as can be gleaned from his numerous presentations and
              publications, which include but not limited to:
            </p>
            <ul>
              <li>
                “Locus standi – Its meaning and its resolution in our Courts”:
                Contribution to Landmark cases and Essays in Honour of Kehinde
                Sofola, S.A.N., C.O.N.”
              </li>
              <li>
                “Conflicts and Disharmony between the Three Arms of Government
                in Nigeria; ‘A Recipe for Chaos and Stunted Development.’
                Contribution to a Compendium of Essays in Honour of A
                Quintessential Jurist: The Honourable Justice Olatokunbo
                Olopade, CON, KJW, The First Female Judge of Ogun State.”
              </li>
              <li>
                “Effective Justice Delivery –A Legal Practitioner’s Perspective-
                A paper delivered as a resource person at the Ogun State Judges’
                Conference, Abeokuta.”
              </li>
              <li>
                “Judiciary in the Era of Elections in Nigeria – Being a paper
                delivered as a resource person at the Magistrates’ conference,
                Abeokuta, Ogun State.”
              </li>
              <li>
                “Formation and Determination of contracts of Employment” – Being
                a paper delivered as a resource person at a workshop organized
                by the Otta Bar on Essentials of Industrial Labour Relations in
                a Growing economy.
              </li>
              <li>
                “Democracy and the Rule of Law in emergent Constitutional
                Nigerian State.”
              </li>
              <li>
                “Fight Against Corruption – Duty of All” - A paper delivered as
                a resource person at the Annual Gala/Award Nite, of the Nigerian
                Bar Association, Otta Branch.”
              </li>
              <li>
                “Role of the Traditional Rulers in sustaining Democracy in a
                Contemporary Nigeria” – Published in the Voice Magazine, April,
                2017.”
              </li>
              <li>
                “Prevention of Economic Financial Crime; the Social Legal and
                Situational Strategies”; a paper presented at the Conference of
                Officium Legis, at Obasanjo Presidential Library, Abeokuta, Ogun
                State.
              </li>
            </ul>
            <p>
              Aside his core legal practice, the Learned Silk has also held
              several positions both within and outside the NBA:
            </p>
            <ul>
              <li>
                He was a former Chairman, Nigerian Bar Association, Ota Branch.
              </li>
              <li>
                Former Assistant Secretary, Nigerian Bar Association, Abeokuta
                Branch.
              </li>
              <li>
                Former Member of the National Executive Committee of the
                Nigerian Bar Association.
              </li>
              <li>
                Member of the Disciplinary Committee of the NBA constituted for
                Ogun State.
              </li>
              <li>
                Currently, member of the Law Reporting Committee of Ogun State
                Judiciary.
              </li>
              <li>
                Member, Planning Committee of the Bar & Bench Forum, Ogun State.
              </li>
              <li>
                Member, International Bar Association.
              </li>
              <li>
                ne time Chairman, Local Government Election Tribunal, Ogun State
                in 2012.
              </li>
              <li>
                Chairman Zone XI Security Stakeholders Forum (NPF).
              </li>
            </ul>
            <p>
              <b>O. O. Ojutalayo Esq.</b> was appointed Notary Public by the
              Honourable, the Chief Justice of Nigeria in 2011 and by dint of
              hardwork and divine grace he was elevated and conferred with the
              prestigious rank of Senior Advocate of Nigeria in 2016.
            </p>
            <p>
              In the trajectory of his rise to the peak of his career
              <b>O. O. Ojutalayo Esq</b> bagged numerous social, religious and
              professional awards from diverse bodies and institutions among
              which is that of “Role Model at the Bar” from the NBA, Ogun State.
            </p>
            <p>
              He has attended several professional, social, National and
              International conferences where he delivered lectures and papers
              on both law and other issues affecting the legal profession and
              our dear country, Nigeria.
            </p>
            <p>
              His hobbies include reading and music.
            </p>
            <p>
              He is happily married with children.
            </p>
          </div>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>
    </div>
    <div class="sc-items2">
      <mat-card class="example2-card">
        <div class="info">
          <h5 class="info-head">YEARS @ THE BAR</h5>
          <h5 class="info-subhead">38</h5>
        </div>
        <mat-divider></mat-divider>
        <div class="info">
          <h5 class="info-head">CURRENT ROLE</h5>
          <h5 class="info-subhead">Principal Partner @ Sola Ojutalayo & Co.</h5>
        </div>
        <mat-divider></mat-divider>
        <div class="info">
          <h5 class="info-head">AREA OF SPECIALIZATION</h5>
          <h5 class="info-subhead">General legal practice</h5>
        </div>
        <mat-divider></mat-divider>
        <div class="info">
          <h5 class="info-head">PERSONAL/OFFICIAL LINKS</h5>
          <a
          href="https://www.solaojutalayolegal.com"
          rel="noopener noreferrer"
          target="_blank"
          class="info-subhead"
          >www.solaojutalayolegal.com</a
        >
        </div>
      </mat-card>
    </div>
  </div>
</section>
