<section>
  <div class="sc-container">
    <div class="sc-items1">
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>OBA SAMUEL OLUFEMI OJUGBELE</mat-card-title>
          <mat-card-subtitle>Onilogbo Of Ilogbo-Asowo</mat-card-subtitle>
        </mat-card-header>
        <mat-divider></mat-divider>
        <!-- <img
            mat-card-image
            src="assets/img/honorary/elder_ameh.jpg"
            alt="Photo of a Shiba Inu"
          /> -->
        <div mat-card-image class="img-box"></div>
        <mat-divider></mat-divider>
        <mat-card-content>
          <br />
          <div>
            <h3>Profile</h3>
            <p>
              I have learned that some people seem to “fall into” success.
              Originally, it was not their intention, goal, or dream.
              Circumstances almost forced success upon them. However, their
              number (proportionately) is small. And there is little we can
              learn from them.
            </p>

            <p>
              More importantly the vast majority of high achievers made it
              because they wanted to! A passionate desire to achieve was a
              consuming drive in their lives. Check them out – I have! They use
              phrases like, “my dream”, “my burning desire”, “my consuming
              passion”, “my overriding goal”, “my sense of destiny”.
            </p>
            <p>
              One of those that rose from grass to grace, one of those that work
              their way to success is <b>Oba Samuel Olufemi Ojugbele</b>, the
              Onilogbo of Ilogbo-Asowo, Ogun State. He was born into a poor
              family in the year 1943. His father was a peasant farmer and also
              a drummer. His grandfather, Ojugbele was a man of many parts. His
              grandfather was loved and admired by many because of his
              brilliance, diligence and other exceptional sterling attributes.
              Ojugbele Apata was known for his philanthropically gesture. Before
              his death, he contributed to the development of humanity.
            </p>
            <p>
              Ojugbele Apata gave birth to Alfred Ayankunle Ojugbele who later
              gave birth to <b>Samuel Olufemi Ojugbele.</b> Afred Ayankunle
              Ojugbele was a very popular drummer in Ota and the entire
              district, whose drumming skill was legendary. Alfred was among
              those that performed during the Nigeria Independence day, October
              1st 1960; he led his orchestra to the grand Independence Day
              celebration held at Ansar-Ud-deen primary school, Ota.
            </p>
            <p>
              He dished out scintillating beats accompanied by sonorous voices
              that sent gaily-dress spectators into endless jubilation and
              excitement. Till today, those scintillating moments remained the
              talk of the town.
            </p>
            <p>
              <b>Samuel Olufemi Ojugbele</b> was the only child of Alfred
              Ayankunle Ojugbele. His mother's name is Isabambi Sakiratu
              Ojugbele, she is a princess from Ajayi Ejo of Iga Afin in
              Ilogbo-Asowo. He grew up at Iga Isalu, Ota with his father and
              mother. In spite been the only child of his father, yet his father
              did not pamper him, instead he ingrained in his subconscious those
              virtues that exalt a man, those values that symbolize a
              responsible citizen and those qualities that make a role model.
            </p>
            <p>
              He always accompanied his father to the morning prayers and
              services as well as evening services on Sundays. He never missed
              all spiritual devotions daily. He was enrolled into Saint James
              Anglican Primary school, Ipate-Oyinbo in the year 1948 for his
              elementary education. His parents paid two shillings and six
              pence. His school uniform was khaki upon short with no sandals.
            </p>
            <p>
              <b>Oba Samuel Ojugbele</b> could not stay long in the school
              because of his illness and which required necessary attention and
              care from his mother. He fell so sick to the extent that he was
              fully recovered in the year 1949. You could imagine the time of
              education they received then, very holistic, not like the type our
              children or some of us received.
            </p>
            <p>
              He managed to finish his primary education but he could not afford
              to go to grammar school in Lagos or Abeokuta because his father
              was old, his father was actually over 60 when he gave birth to him
              and there were no financial muscles to foot the bills. Providence
              smiles on him as Chief Obafemi Awolowo established Secondary
              Modern Schools and more Teachers Training College to cater for the
              production of quality teachers for the free Primary Education
              Scheme in 1955. He opted to attend Ansar-Ud-Deen Secondary Modern
              School that year for his secondary education.
            </p>
            <p>
              In 1958, he was about to missed his final examination because he
              could not afford to pay three pounds thirteen shillings and four
              pence but providence paves way for him the second time as one of
              his uncles, Pa. Abiodun Ojugbele gave him the money.
            </p>
            <p>
              In January 1960, he proceeded to St. Paul's Teachers' Training
              College, Onikolobo in Abeokuta. He completed the course in the
              year 1961. In October 1962, something happened that eventually
              turned his life completely. There was an international trade fair
              on Victoria Island in Lagos. During this time, Chief Awolowo was
              on trial for treasonable felony at the Lagos High Court near Race
              Course (now Tafawa Balewa Square). He took his old man, to the
              trade fair because his father said he wanted to catch a glimpse of
              Lagos then. There was a very large crowd when they arrived at the
              Race Course.
            </p>
            <p>
              Many armed policemen had a hectic time in maintaining peace and
              orderliness on that day. They frisked so many people. As police
              were chasing people, however, there were set of people that were
              allowed to walk majestically that day. These people were in black
              suits with bibs, holding briefcases. The young Ojugbele, in
              curiosity, asked, these men were treated like sacred cows or
              regarded as untouchable while others were been chased.
            </p>
            <p>
              Apparently, a man answered him and said these set of people are
              lawyers and the police cannot touch them. According to my
              findings, <b>Oba Ojugbele</b> had never seen a lawyer in his life.
              This was beginning of his new life. He vigorously pursued the
              ambition until he eventually became a lawyer. To accomplish his
              dream, he enrolled for a correspondence course, though, it was not
              easy for him because he was working and also reading.
            </p>
            <p>
              He faced many challenges, his father died in June 1966 and his
              mother in November 1967, there was no finance to pursue his new
              dream of becoming a lawyer. <b>Oba Ojugbele</b>, been a man
              destiny to be great in life, providence smile on him again as he
              received sponsorship from his uncle, Pa. Abiodun Ojugbele.
            </p>
            <p>
              He attended University of Lagos and equally attends Nigeria Law
              School, one of his loving friends till date at the University and
              law school is <b>Hon Justice Bode Rhodes-Vivour (JSC)</b>.
            </p>
            <p>
              He beats all odds so that he can achieve his dream. Today, he is a
              successful lawyer. He has produced many successful lawyers and
              judges in his chambers. Among those that passed through his legal
              tutelage and chamber are
              <b>
                Justice Laja Durojaye, Hon Justice Adeniji, Otunba Olumide
                Akinbinu</b
              >, to mention but few. Today, Oba Ojugbele has a son, who is
              equally a lawyer, and he is now in charge of his chamber, Barr
              Seyi Ojugbele and equally has three grandchildren that are now
              lawyers.
            </p>
            <p>
              To the glory of God, his first son is the Assistant Commissioner
              of Police (ACP Bola Ojugbele), the second son is Dr. Rotimi
              Ojugbele, the Chief Medical Director of Ojugbele Specialist
              Hospital, Ota, the third is in charge of his chamber while the
              fourth is also an Engineer.
            </p>
            <p>
              His rising to the top of his career does not come on the platter
              of gold but rather he fought the course and paid the price. He is
              devout Christian, an unrepentant Anglican Communion member. He has
              always follow the footsteps of his grandfather Pa. Apata, who was
              a philanthropist. The only thing that gives
              <b>Oba Ojugbele</b> joy today is to help others to succeed; he is
              ever ready to help whoever comes his way to the top. A lover of
              education and the things of God.
            </p>
            <p>
              He became a king 19years ago; he was installed as the
              <b>Onilogbo of Ilogbo-Asowo</b> in the year 2001. His giant
              strides to the development of Ilogbo-Asowo and Ota his father's
              town is worth sought after.
            </p>
          </div>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>
    </div>
    <div class="sc-items2">
      <mat-card class="example2-card">
        <div class="info">
          <h5 class="info-head">YEARS @ THE BAR</h5>
          <h5 class="info-subhead">45</h5>
        </div>
        <mat-divider></mat-divider>
        <div class="info">
          <h5 class="info-head">CURRENT ROLE</h5>
          <h5 class="info-subhead">Consultant @ Ojugbele & Ojugbele</h5>
        </div>
        <mat-divider></mat-divider>
        <div class="info">
          <h5 class="info-head">AREA OF SPECIALIZATION</h5>
          <h5 class="info-subhead">NA</h5>
        </div>
        <mat-divider></mat-divider>
        <div class="info">
          <h5 class="info-head">PERSONAL/OFFICIAL LINKS</h5>
          <h5 class="info-subhead">Website</h5>
        </div>
      </mat-card>
    </div>
  </div>
</section>
