<section>
  <div class="sc-container">
    <div class="sc-items1">
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>WALE OLUMIDE ADEGOKE, ACIArb</mat-card-title>
          <mat-card-subtitle
            >Incumbent Vice Chairman, NBA OTA</mat-card-subtitle
          >
        </mat-card-header>
        <mat-divider></mat-divider>
        <!-- <img
              mat-card-image
              src="assets/img/honorary/elder_ameh.jpg"
              alt="Photo of a Shiba Inu"
            /> -->
        <div mat-card-image class="img-box"></div>
        <mat-divider></mat-divider>
        <mat-card-content>
          <br />
          <div>
            <h3>Profile</h3>
            <p>
              <strong>WALE OLUMIDE ADEGOKE</strong> [WAO] is a detribalized,
              courageous Nigerian lawyer who graduated from the fmr. Ondo State
              University [OSUA] in 1998 and was called to the Nigerian Bar in
              the year 2000 at the Nigeria Law School, Bwari, Abuja.
            </p>

            <p>
              In 2009, he became a Chartered Arbitrator [ACIArb] with
              distinction as the overall best student. Afterwards, he has
              attended several continuing legal education programmes towards
              sharpening his intellectual and leadership skills.
            </p>
            <p>
              The candidate has worked with bank, reputable law firms and
              multinational Company as Legal Adviser. He is currently the Senior
              Partner of <strong>First Zenith Law Firm</strong>, an ever growing
              law firm with office at No. 1 Unity Close, Lafenwa, Itele, Ota.
            </p>
            <p>
              <strong>WALE OLUMIDE ADEGOKE</strong> [WAO] in the course of his
              legal pursuits has enjoyed the rich mentorship of legal giants
              such as: Prof. Jelili Omotola, SAN, Chief Anthony Idigbe, SAN, and
              Chief Funsho Akinyosoye, SAN.
            </p>
            <p>
              His practice is focused on litigation and Corporate/ Commercial
              practices from the starting point of his career till date. He has
              continued to maintained his gaze on law and no his gaze on law and
              no other vocation. He has also been involved in high profile cases
              with material impacts on the development of our law.
            </p>
            <h3>Leadership Roles</h3>
            <p>
              <strong>Wale Olumide Adegoke</strong> [WAO] is a community leader,
              lover of humanity, consummate educationist and public interests
              advocate. He has served in various leadership positions which
              includes Chairman of the Human Right Chambers, Electoral Chairman
              and on the Governing Council of Faith Academy Secondary school,
              Gowon Estate, Lagos & Kingdom Heritage Model School [KHMS] among
              others.
            </p>
            <h3>Bar Activities</h3>
            <p>
              <strong>Wale Olumide Adegoke</strong> [WAO] was previously member
              of Lagos and Ikeja Bar as Corporate Counsel prior to joining the
              UTTER BAR some years ago. He has served the UTTER BAR in the Law
              Week and Human Right Committees. He is also part of the team
              prosecuting fake lawyers within the jurisdiction.
            </p>
            <h3>Pro-Bono Services</h3>
            <p>
              <strong>Wale Olumide Adegoke</strong> [WAO] currently handles
              prosecution of rape cases under the aegis of a non - governmental
              institution called STER [Stand To End Rape] based in Lekki. He
              represents victims of abuse with a view to putting to an end the
              social stigma associated with rape by seeking justice for the
              survivor and the society.
            </p>
            <h3>Paper Presentations</h3>
            <p>
              In the course of his career development, he represented Chief
              Anthony Idigbe, SAN at the ivory of Nigeria legal education, the
              NIGERIAN INSTITUTE OF LEGAL STUDIES, UNILAG, AKOKA, LAGOS as a
              lead speaker and presented a paper on the topic of –‘Legal &
              Commercial Imports of the Concept of Mareva Injunction’as a
              continuing legal education for legal practitioners, judges and
              legal administrators from all over the country. Sometimes in
              March, 2019, he was also invited by the Management of Covenant
              University to present a paper on ‘Cybercrimes under the Nigerian
              Law which was a huge success.
            </p>
            <h3>Family Life</h3>
            <p>
              He is happily married to Mrs. Treasure Adegoke and blessed with
              children.
            </p>
          </div>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>
    </div>
    <div class="sc-items2">
      <mat-card class="example2-card">
        <div class="info">
          <h5 class="info-head">YEARS IN LAW</h5>
          <h5 class="info-subhead">20</h5>
        </div>
        <mat-divider></mat-divider>
        <div class="info">
          <h5 class="info-head">CURRENT ROLE</h5>
          <h5 class="info-subhead">Managing Partner @ First Zenith Law Firm</h5>
        </div>
        <mat-divider></mat-divider>
        <div class="info">
          <h5 class="info-head">AREA OF SPECIALIZATION</h5>
          <h5 class="info-subhead">Corporate/Commercial Law</h5>
        </div>
        <mat-divider></mat-divider>
        <div class="info">
          <h5 class="info-head">PERSONAL/OFFICIAL LINKS</h5>
          <h5 class="info-subhead">Web Address</h5>
        </div>
      </mat-card>
    </div>
  </div>
</section>
