<section>
  <div class="sc-container">
    <div class="sc-items1">
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>AYODEJI ISIOLAOTAN, AICMC.</mat-card-title>
          <mat-card-subtitle>
            Incumbent Vice Chairman, NBA OTA
          </mat-card-subtitle>
        </mat-card-header>
        <mat-divider></mat-divider>
        <!-- <img
              mat-card-image
              src="assets/img/honorary/elder_ameh.jpg"
              alt="Photo of a Shiba Inu"
            /> -->
        <div mat-card-image class="img-box"></div>
        <mat-divider></mat-divider>
        <mat-card-content>
          <br />
          <div>
            <h3>Profile</h3>
            <p>
              <b>Ayodeji Isiolaotan</b>
              is a native of Ikeji Ile Ijesa in Osun State.
            </p>

            <p>
              Attended Ikeji Ile High School and Saint Peter's Unity Secondary
              School, Akure, Ondo State.
            </p>
            <p>
              A graduate of the University of Ibadan and called to the Nigerian
              Bar in the year 2007.
            </p>
            <p>
              Vice Chairman NBA Ota.
            </p>
            <p>
              Legal Adviser, NBA Ota, 2020-2022.
            </p>
            <p>
              Chairman Continuing Legal Education Committee 2020-2022. Bar
              Activities!
            </p>
            <p>
              Ayodeji Isiolaotan has served, and he is still serving in of the
              Nigerian Bar Association.
            </p>
            <p>
              He was the Legal Adviser of Nigerian Bar Association, Ota Branch
              from 2020-2022.
            </p>
            <p>
              He was also the Chaiman, Continuing Legal Education Committee,
              Nigerian Bar Association Ota from 2020-2022 and under his
              leadership, the Committee organised lectures for the benefits of
              the members of the Bar and Society.
            </p>
            <p>
              He also served as members of various committees of the Bar few,
              amongst which are Data and Identity Card Committee Law Week
              Planning Committee and Website Committee.
            </p>
            <p>
              He is the incumbent Vice Chairman of Nigerian Bar Association,
              Ota.
            </p>
            <h3>Pro Bono:</h3>
            <p>
              Ayodeji Isiolaotan has always rendering pro bono services as far
              back as the year 2011.
            </p>
            <p>
              By virtue of his position as the Vice Chairman, NBA Ota who is the
              statutory chairman of Human Rights Committee, he is engaged in
              some pro bono cases in Court.
            </p>
            <p>
              He is happily married with children!
            </p>
          </div>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>
    </div>
    <div class="sc-items2">
      <mat-card class="example2-card">
        <div class="info">
          <h5 class="info-head">YEARS IN LAW</h5>
          <h5 class="info-subhead">16</h5>
        </div>
        <mat-divider></mat-divider>
        <div class="info">
          <h5 class="info-head">CURRENT ROLE</h5>
          <h5 class="info-subhead">Head Of Chambers @ Sola Ojutalayo & Co.</h5>
        </div>
        <mat-divider></mat-divider>
        <div class="info">
          <h5 class="info-head">AREA OF SPECIALIZATION</h5>
          <h5 class="info-subhead">General Legal Practice</h5>
        </div>
        <mat-divider></mat-divider>
        <div class="info">
          <h5 class="info-head">PERSONAL/OFFICIAL LINKS</h5>
          <h5 class="info-subhead">Web Site</h5>
        </div>
      </mat-card>
    </div>
  </div>
</section>
