<section
  class="history"
  style="--image-url: url('../../../assets/img/constituition.png');"
>
  <h1
    class="mat-display-1"
    style="text-align: center; padding-top: 2rem; color: #bfcf25;"
  >
    EARLY HISTORY
  </h1>
  <!-- <div class="history-container"> -->
  <mat-card class="example-card">
    <!-- <img
          mat-card-image
          src="assets/img/honorary/elder_ameh.jpg"
          alt="Photo of a Shiba Inu"
        /> -->
    <div mat-card-image class="img-box"></div>
    <mat-divider></mat-divider>
    <mat-card-content>
      <br />
      <div>
        <h3>EARLY HISTORY OF THE NIGERIAN BAR ASSOCIATION, OTA BRANCH</h3>
        <!-- mat-accordion -->
        <div class="example-action-buttons">
          <button mat-button (click)="accordion.openAll()" class="expand">
            Expand All
          </button>
          <button mat-button (click)="accordion.closeAll()" class="expand">
            Collapse All
          </button>
        </div>
        <mat-accordion class="example-headers-align" multi>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Introduction
              </mat-panel-title>
              <mat-panel-description>
                The preamble
                <mat-icon>date_range</mat-icon>
              </mat-panel-description>
            </mat-expansion-panel-header>

            <p>
              Upon the creation of Ota Judicial Division which was carved out
              from Ilaro Judicial Division in 1989, Ota Judicial Division took
              off from the premises that house the present Ota Magistrates
              Courts. The only notable practicing lawyers on ground at Ota prior
              to the creation of Ota Judicial Division that time are
              <strong>
                Chief Olayinka Shotayo and His Royal Highness, Oba Olufemi
                Ojugbele</strong
              >. It should be noted that these two founding fathers are
              indigenes and illustrious sons of the soil. The two dynamic
              fathers and leaders hosted all the first set of lawyers that came
              to sojourn and practice at Ota Judicial Division and these lawyers
              include
              <strong
                >Mr. Aina, Mr. Olatunde Opaleye, Honourable Justice S. M.
                Owodunnin, Mr. F. O. Kehinde, Mr. Martins Onoja, Chief Oluseun
                Takintayo Akinbiyi (SAN), Mr. J. T. Ogunniyi (FICMC), Mr. Chris
                U. Anyanwu, Mr.Kingsley Oba Bazuaye, Mr. George Okey Chukwudobe,
                Mr. Nwosu, Mr. Akeem Alagbe, Mr. C. A. Nwakpo, Honourable
                Justice Laja Rafiu Durojaiye, Mr. G.O.D Okeke, Mr. David Taiwo
                Ojo, Elder S. A. Ameh</strong
              >
              etc.
            </p>
            <p>
              The first set of judges that hosted Ota Judicial Division are Late
              <strong
                >Honourable Jusitice Odubiyi and Honourable Justice Gabsiu Bakre
                (Rtd)</strong
              >, while the Magistrates are
              <strong
                >Chief Magistrate Adesanya (Rtd), Chief Magistrate Akindele
                (Rtd) and Honourable Justice Odutan and the current Chief Judge
                of Ogun State Honourable Justice Mosunmola Dipeolu
                (FICMC)</strong
              >.
            </p>
          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Early Formation
              </mat-panel-title>
              <mat-panel-description>
                The first meeting
                <mat-icon>date_range</mat-icon>
              </mat-panel-description>
            </mat-expansion-panel-header>

            <p>
              In a bid to bring the few lawyers around Ota Judicial Division
              together, The first meeting of lawyers then practicing and based
              in the Ota Judicial Division of the High Court of Ogun State was
              held on the 28th of June, 1999 in High Court No. 1 (within the old
              town). The meeting was summoned by
              <b>Chief Olayinka Sotayo</b> who was by far the most senior at the
              time. It was explained at the meeting that several unsuccessful
              attempts were made before to gather lawyers based in the area
              together. <b>Hon. (Mr.) Justice Olatunde Odubiyi</b> (now late)
              and <b>Hon. (Mr.) Justice Gabsiu Bakre</b> who were the first
              judges to sit in Ota, gave inspiration to the formation of an Ota
              Branch of Nigeria Bar Association.
            </p>

            <p>
              At the meeting after many of those present had spoken glowingly
              about the need to have an Ota Branch of the Nigeria Bar
              Association, and as it was clear that the number of lawyers based
              in the area exceeded the ten required by the Constitution of the
              Nigeria Bar Association at the time,
              <b>Mr. David Taiwo Ojo</b> moved the motion for the formation of
              the Branch while <b>Mr. Francis Oluwaleke Kehinde</b>
              supported the motion. All eleven (11) lawyers present voted in
              support. Ota Branch of the Nigeria Bar Association was thus formed
              de facto. Those present at the meeting (in the order in which
              their names were recorded) were:
            </p>
            <ol>
              <li>Chief Olayinka Sotayo</li>
              <li>Mr. Joseph Taiwo Ogunniyi</li>
              <li>Mr. Francis Oluwaleke Kehinde</li>
              <li>Mr. George Okey Chukwudobe</li>
              <li>
                Mr. Sikiru Mohamed Owodunni (now Hon. Mr. Justice S.M. Owodunni)
              </li>
              <li>Mr. David Taiwo Ojo</li>
              <li>Mr. Kingsley Oba Bazuaye</li>
              <li>Mr. Oluseun Takintayo Akinbiyi</li>
              <li>Mr. Olatunde Opaleye</li>
              <li>Mr. Martins Onoja</li>
              <li>Mr. Chris Anyawu</li>
            </ol>
            <p>
              The next meeting of the Branch was held on 12th July, 1991 when
              the
              <b>first set of officers</b> of the Branch were elected as
              follows:
            </p>
            <ol>
              <li>Chief Olayinka Shotayo - Chairman</li>
              <li>Chief (now Oba) Olufemi Ojugbele - Vice Chairman</li>
              <li>Mr. Oluseun T. Akinbiyi - Secretary</li>
              <li>Mr. (now Hon. Justice) S.M. Owodunni - Treasurer</li>
              <li>Mr. Martins Onoja - Publicity and Social Secretary</li>
              <li>Mr. (now Prof.) C.U. Anyanwu - Financial Secretary</li>
              <li>Mr. J.T. Ogunniyi - Auditor</li>
              <li>Mr. G.O. Chukwudobe - Assistant Secretary</li>
            </ol>
            <p>
              Another major decision made on 12th July, 1991 was that the
              meetings of the Branch should be held fortnightly until it was
              found necessary to change the period.
            </p>
          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Registration
              </mat-panel-title>
              <mat-panel-description>
                The serious challenges
                <mat-icon>date_range</mat-icon>
              </mat-panel-description>
            </mat-expansion-panel-header>

            <p>
              In those years no extraneous factors were attached to the formal
              establishment (or registration) of a branch of the Nigeria Bar
              Association other than that there should be a judicial division of
              a Court and that the number of lawyers practicing in the domain of
              the intended branch should not be less than 10(ten). It was
              therefore presumed that the registration, formal establishment or

              <b>de jure</b> formation of Ota Branch was going to be a mere
              formality. But an application for the registration was not
              submitted immediately after the Branch was formed until August,
              1992 during the Annual General Conference of that year held in
              Port Harcourt. Tragically, the first Chairman of the Branch died
              and unfortunately the Nigerian Bar Association became comatose
              from the Conference as a result of an irreconcilable conflict in a
              struggle for the leadership of the Association. The Association
              was revived only in 1998 and hence the application of the Branch
              for registration could not have been considered as there was no
              National Executive Committee in place.
            </p>
            <p>
              Once the Bar Association was revived the issue of the registration
              of Ota Branch became a recurrent topic at various meetings of the
              National Executive Committee of the NBA and even at its Annual
              General Conference. But by then, the issue of the registration of
              branches had become very highly politicized in view of the
              importance it had attained for the purpose of election of national
              officers (especially President and General Secretary) of the
              Association. At the local level some of the older Branches in Ogun
              State appeared opposed to the registration or emergence of Ota
              Branch.
            </p>
            <p>
              Notwithstanding the challenges the Branch faced it was
              acknowledged and accorded recognition everywhere especially from
              1994. Very remarkably, the Branch was invited to a meeting of the
              caretakers of the Nigerian Bar Association on Friday, 19th of May,
              1995 at the Nigerian Law School. The Branch was also invited to
              the 1995 Annual Conference of the Nigerian Bar Association. At the
              State level the Branch was invited to several functions of the
              Judiciary including the Special Service for the opening of the
              1995/96 Legal Year. The Branch was also invited to submit a report
              to the panel set up on the review of Court fees by Ogun State
              Judiciary in 1995. The Chief Registrar of the High Court of Ogun
              State (at the time) invited the Branch to submit a list containing
              the names and particulars of the members of the Executive of the
              Branch for 1994/95 Legal Year. The Magistrates’ Association of
              Nigeria (Ogun State Branch) notified the Branch of some of its
              activities by correspondence.
            </p>

            <p>
              At the local level the Branch received a correspondence as a
              Branch from a reputable insurance company within the community. In
              September, 1995 the Branch was invited into the Police Community
              Relations Committee of the Nigeria Police Divisional Headquarters,
              Sango-Ota.
            </p>

            <p>
              As for itself the Branch marched forward. It organized its first
              Special Public Lecture which took place on Friday, 2nd December,
              1994 at the Local Government Council Community Hall. The Lecture
              was titled
              <b
                >“Visibility of the End of Law in Contemporary Nigeria: Is Law
                Still Relevant?”</b
              >
              The Lecture was delivered by a renowned Professor of
              Jurisprudence, <b>Professor I.A. Agbede</b>. It was attended by a
              sizeable audience and was widely reported in both the print and
              broadcast media especially on NTA Network News. The first Annual
              Dinner was held in April, 1995 and was utilized as a formal
              sent-forth party for the Hon. Justices <b>G.A. Bakre</b> and
              <b>E.O. Olatoye</b> who were transferred from the Ota Judicial
              Division around that period. Another Public Lecture was held on
              the 5th of July, 1996 in which one of the best lawyers in the
              profession – <b>Mr. Kehinde Sofola, SAN.</b> delivered a lecture
              on <b>“The Legal Profession”</b> also at the Local Government
              Council Community Hall, Ota. In November, 1999 the Branch
              introduced the Quarterly Bar-Bench Forum and held the maiden event
              on 10th November. It is a program which aims at a closer and
              better relationship between the Bench and members of the Bar who
              practice in Ota Judicial Division of the High Court of Ogun State;
              and generally to enhance the quality of practice of the legal
              profession. At each event current issues relating to practice and
              the Courts were discussed in the first session and in the second
              session a lecture is given by a member of the Bench or the Bar for
              discussion. It was always beautiful and well attended. Generally
              although members were few but meetings were held regularly and
              very important decisions were taken as to matters relating to the
              welfare of members, work and efficiency of the courts and issues
              of ethical conduct and discipline among members. Things were
              largely alright.
            </p>
          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Approval
              </mat-panel-title>
              <mat-panel-description>
                Success at last
                <mat-icon>date_range</mat-icon>
              </mat-panel-description>
            </mat-expansion-panel-header>

            <p>
              After a long persistence and years of virility, Ota Branch was
              eventually
              <b>registered and approved on Thursday the 25th of June, 2001</b>
              in Zaria by the National Executive Committee of the NBA. From then
              on the Branch has grown from strength to strength with a lot of
              enviable achievements through very purposeful and hard work of
              leaders of the Branch and unrelenting co-operation of members.
            </p>
          </mat-expansion-panel>
        </mat-accordion>
        <br />
        <!-- <p>
          <em>Dated Monday, the 27th day of July, 2020.</em>
        </p> -->
      </div>
    </mat-card-content>

    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>
  <!-- </div> -->
</section>
